[target="_blank"]:not(.npe)::after {
	content: "\2197";
}
/*[href^="https"]:not(.npe)::after {
    content: "\00A0(https)";
    font-size: 0.8em;
    display: inline-block;
}*/
[href^="#"]:not(.npe):hover::before,
[href^="#"]:not(.npe):focus::before {
	content: "#";
}
