@charset "utf-8";

// Vendors
@import '~include-media/dist/include-media';

// Variables and mixins
@import 'base/config', 'base/abstract', 'mixins/content', 'mixins/animations';

// Reset
@import '~normalize-scss/sass/normalize/import-now', 'base/init',
  'base/links', 'base/print';

// Vendors
@import 'vendors/abbr-touch';

// Base
@import 'base/button', 'base/animations', 'base/typo', 'base/tag';

// Main layout
@import 'layout/global', 'layout/header', 'layout/content';

// Helpers
@import 'helpers/a11y';
