<div class="videoWrapper">
    <iframe width="{{ include.width }}" height="{{ include.height }}" src="{{ include.url }}" title="{{ include.title }}" frameborder="0" allow="encrypted-media" allowfullscreen=""></iframe>
</div>