# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
[*.js]
end_of_line = lf
insert_final_newline = false


# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,css,liquid,scss}]
charset = utf-8

# 2 spaces indentation
[*.{js,css,liquid,scss,yml,json}]
indent_style = space
indent_size = 2
