# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# I18n configuration
locale: fr
defaults:
  -
    scope:
      path: ""
    values:
      locale: fr
      baseurl: "/"
      by: 'Boris Schapira'
      aside: false
      robots:
        noindex: false
        nofollow: false
  -
    scope:
      path: "_pages"
    values:
      type: pages
  -
    scope:
      path: "_pages"
      layout: index
    values:
      aside: true
  -
    scope:
      path: "_pages/fr"
    values:
      baseurl: "/"
      locale: fr
  -
    scope:
      path: "_pages/fr/web"
    values:
      category: web
  -
    scope:
      path: "_pages/fr/papa"
    values:
      category: papa
  -
    scope:
      path: "_pages/fr/citoyen"
    values:
      category: citoyen
  -
    scope:
      path: "_pages/en"
    values:
      baseurl: "/en/"
      locale: en
  -
    scope:
      path: "_pages/en/web"
    values:
      category: web
  -
    scope:
      path: "_pages/en/dad"
    values:
      category: papa
  -
    scope:
      path: "_pages/en/citizen"
    values:
      category: citoyen
  -
    scope:
      path: "_drafts/fr"
    values:
      baseurl: "/"
      locale: fr
  -
    scope:
      path: "_drafts/fr/web"
    values:
      category: web
  -
    scope:
      path: "_drafts/fr/papa"
    values:
      category: papa
  -
    scope:
      path: "_drafts/fr/citoyen"
    values:
      category: citoyen
  -
    scope:
      path: "_drafts/en"
    values:
      baseurl: "/en/"
      locale: en
  -
    scope:
      path: "_drafts/en/web"
    values:
      category: web
  -
    scope:
      path: "_drafts/en/dad"
    values:
      category: papa
  -
    scope:
      path: "_drafts/en/citizen"
    values:
      category: citoyen
  -
    scope:
      path: "_confs"
    values:
      layout: conf
  -
    scope:
      type: "posts"
    values:
      layout: post
  -
    scope:
      path: "_posts/fr/web"
    values:
      category: web
  -
    scope:
      path: "_posts/fr/papa"
    values:
      category: papa
  -
    scope:
      path: "_posts/fr/citoyen"
    values:
      category: citoyen
  -
    scope:
      path: "_posts/en"
    values:
      locale: "en"
      baseurl: "/en/"
  -
    scope:
      path: "_posts/en/web"
    values:
      category: web
  -
    scope:
      path: "_posts/en/dad"
    values:
      category: papa
  -
    scope:
      path: "_posts/en/citizen"
    values:
      category: citoyen
  -
    scope:
      path: "assets/**/*.pdf"
    values:
      sitemap: false

# Exclusions
exclude:
  - "postcss.config.js"
  - "purgecss.config.js"
  - ".ruby-version"
  - ".cache"
  - ".editorconfig"
  - "postcss.config.js"
  - "purgecss.config.js"
  - ".jekyll-cache"
  - "node_modules"
  - "package.json"
  - "scripts"
  - "_tasks"
  - "_src"
  - "Gemfile"
  - "Gemfile.lock"
  - "LICENSE.md"
  - "netlify.toml"
  - "README.md"
  - "Rakefile"
  - "tmp"
  - "vendor"
  - "package-lock.json"
  - _posts/**/*.json
  - _posts/**/*.jpg
  - _posts/**/*.jpeg
  - _posts/**/*.png
  - _posts/**/*.gif
  - _posts/**/*.pdf
  - _posts/**/*.mp4
  - _posts/**/*.webm
  - _posts/**/*.ogv
  - boris.schapira.local+3.pem
  - boris.schapira.local+3-key.pem
  - _captures
include:
  - ".well-known"
  - "_pages"

# Site settings
name: 'Boris Schapira'
title: 'Boris Schapira'
email: borisschapira@gmail.com
description: "Site de Boris Schapira. Notes personnelles, professionnelles, citoyennes et autres répertoires de ma vie numérique."
url: "https://boris.schapira.dev"
timezone: Europe/Paris
incremental: true
encoding: utf-8
repository: "borisschapira/boris.schapira.dev"

markdown: CommonMark
highlighter: rouge
commonmark:
  options: ["SMART", "FOOTNOTES", "UNSAFE"]
  extensions: ["strikethrough", "autolink", "table"]

microtypo:
  median: true

# Author
name: 'Boris Schapira'
domain: 'boris.schapira.dev'
author:
  name: 'Boris Schapira'
  avatar: 'https://avatars.schapira.dev/avataars_1200.png'
  url: https://boris.schapira.dev/
  flickr: 'https://flickr.com/borisschapira'
  github: 'https://github.com/borisschapira'
  twitter: 'https://twitter.com/borisschapira'
  mastodon: https://framapiaf.org/@borisschapira
  twitter_username: '@borisschapira'
  gravatar: https://www.gravatar.com/avatar/1120e6a8f9ccf0d018775756050abb7a
  linkedin: 'https://linkedin.com/in/borisschapira'
  feed: '/feed.xml'
  mailto: 'boris%40schapira.dev'

# Posts links and pagination
permalink: :year/:month/:title/

pagination:
  enabled: true
  per_page: 10
  permalink: '/page/:num/'
  title: ':title <small class="page">page :num</small>'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  page_config:
    sitemap: false

# Collections
collections:
  confs:
    output: true
  bookmarks:
    output: false

jekyll-archives:
  enabled:
    - "year"
    - "month"
    - "tags"
  layout: "archives"
  permalinks:
    year: "/:year/"
    month: "/:year/:month/"
    tag: "/tag/:name/"

pwa:
  dest_js_directory: assets/scripts
  precache_recent_posts_num: 5
  precache_glob_patterns:
    - "assets/{scripts,fonts,styles}/**/*.{html,js,css,,svg,woff2,jpg}"
    - index.html
    - web/index.html
    - citoyen/index.html
    - papa/index.html
    - en/index.html
    - en/web/index.html
    - en/citizen/index.html
    - en/dad/index.html

cloudinary:
  logo: avataar
  cloud_name: borisschapira
  presets:
    default:
      min_width: 320
      max_width: 1600
      fallback_max_width: 540
      steps: 5
      sizes: "80vw"

dareboost:
  monitoring : …
  token: '…'

# Other parameters are defined through environment variables
algolia:
  application_id: 97EL687MDM
  index_name: jekyll
  api_key: 121a196f122a96cba48609ba6cee2839
  max_record_size: 70000
  nodes_to_index: 'p,blockquote,li,div.paragraph'
  settings:
    highlightPreTag: '<mark>'
    highlightPostTag: '</mark>'

compress_html:
  ignore:
    envs:
      - 'development'
