[aria-hidden="true"] {
  speak: none;
}

.skip-main {
  position: fixed;
  top: -30em;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 0.5em 1em;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  @include transition(top 0.1s linear);

  &:focus {
    top: 0;
  }
}

.sr-only {
  /*
	* Hide only visually, but have it available for screen readers:
	* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
	*
	* 1. For long content, line feeds are not interpreted as spaces and small width
	*    causes content to wrap 1 word per line:
	*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
	*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  /* 1 */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

a:focus {
  outline-color: var(--color-compliment-light);
}
