$color-complement: complement($color-main);
$color-complement-faded: lighten($color-complement, 40);
$color-gray: rgb(112, 112, 112);
$color-lightgray: lighten($color-gray, 40 - lightness($color-main));
$color-bg: lighten($color-main, 99 - lightness($color-main));
$sidebar-size: 14rem;
@import "vendor/poole",
"vendor/hyde",
"mixins/scrollbars";
@include scrollbars(.3rem, fade-out($color-main, 0.6));
html {
  font-size: calc( 16px + (20 - 16)*(100vw - 400px) / (760-400));
  line-height: 1.7;
}

@media (min-width: 70em) {
  html {
    font-size: 20px;
  }
}


/* Lisibility */

.hide {
  display: none;
}

body {
  background-color: #fff;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  margin-bottom: 0;
  height: auto;
}

.sidebar {
  color: rgba(255, 255, 255, 0.5);
  background-color: $color-main;
  background-size: $texture-size;
  background-image: url($texture);
  .lead {
    font-size: 1rem;
  }
}

.content a,
.related-posts li a:hover {
  color: $color-main;
}

.content a:hover,
.post-content a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  transition: color .1s ease-out;
}

@supports not (text-decoration-skip-ink: auto) {
  .content a:hover,
  .post-content a {
    text-decoration: none;
    padding: calc( 1em * 60 / 100) 0;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 100% calc( 1em / 10);
    background-position: center bottom 29%;
    background-origin: padding-box;
    text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
  }
}

abbr,
acronym {
  font-size: 1em;
  font-weight: normal;
  text-transform: none;
}

abbr[title],
acronym[title] {
  cursor: help;
  border-bottom: 0.1em dotted lighten($color-main, 40);
  text-decoration: inherit;
}

hr {
  color: $color-main;
  background-color: $color-main;
  border: 0;
  height: 1px;
}


/* Meta data line below post title */

.post header span,
.post header time {
  display: inline-block;
  margin-bottom: 0;
  color: $color-gray;
  a {
    color: $color-gray;
  }
}

.post footer {
  font-size: 0.8em;
  .contrib {
    /* border: 1px solid darken($color-main,20);*/
    a {
      color: darken($color-main, 20);
    }
  }
  .discuss,
  .share {
    /*border: 1px solid $color-complement;*/
    a {
      color: darken($color-complement, 10);
    }
    input[type="submit"] {
      padding: 5px 15px;
      background: $color-complement;
      border: 0 none;
      cursor: pointer;
    }
  }
  .contrib,
  .discuss,
  .share {
    margin: 20px 0;
    color: #333;
    p,
    form {
      margin: 0;
      padding: 10px;
    }
    form {
      display: flex;
      input[type="submit"] {
        flex: 1;
      }
      input[type="text"] {
        flex: 3;
      }
    }
  }
  .nowrap {
    display: inline-flex;
  }
}

header.posts-h {
  text-align: center;
  margin-bottom: 2rem;
  display: none;
  font-style: italic;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .sidebar {
    background-image: url($texture-2X);
  }
}

.p-tags,
.p-category,
.p-readtime {
  &::before {
    content: "\00a0·\00a0";
  }
}

html .content .post .p-header .p-author {
  display: none;
}

.related {
  border-top: none;
}

.post-title,
.page-title {
  font-size: 2rem;
}

.post-title a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  transition: color .1s ease-out;
}

@supports not (text-decoration-skip-ink: auto) {
  .post-title a:hover {
    text-decoration: none;
    padding: calc( 1em * 60 / 100) 0;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 100% calc( 1em / 10);
    background-position: center bottom 29%;
    background-origin: padding-box;
    text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
  }
}

.footnotes,
.post-footer {
  margin-top: 5em;
}

.elevator {
  text-align: center;
  margin-bottom: 4em;
  a {
    cursor: pointer;
  }
}

.post-content {
  h2:first-child {
    font-style: italic;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-top: -0.3em;
    margin-bottom: 1em;
    letter-spacing: 0;
  }
  blockquote {
    font-size: 1.1rem;
    border: none;
    border-left: 0.25rem solid $color-main;
    li {
      list-style-type: none;
    }
    li::before {
      content: "—";
    }
    cite {
      font-size: 1rem;
      margin-top: 1em;
      display: block;
    }
    &.emphasis {
      text-align: right;
      border: none;
      border-right: 0.25rem solid $color-main;
    }
  }
  @media (min-width: 30em) {
    blockquote.emphasis {
      padding-left: 5rem;
      padding-right: 1.25rem;
    }
  }
  li {
    margin: 1rem 0;
  }
  figure {
    text-align: center;
    /** http://www.24joursdeweb.fr/2015/pseudo-elements-pseudos-mais-puissants/ **/
    >a,
    .video-container {
      position: relative;
      display: inline-block;
    }
    >a::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      box-shadow: 0 0 100px 0 #000 inset;
      transition: opacity 0.3s ease-in-out;
      background: rgba(0, 0, 0, .5) center no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgNzY4IDc2OCIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTMyMCAzMnE1OC41IDAgMTExLjg3NSAyMi44NzV0OTEuODc1IDYxLjM3NSA2MS4zNzUgOTEuODc1VDYwOCAzMjBxMCA1MC4yNS0xNi4zNzUgOTYuMjVUNTQ1IDQ5OS43NWwxODEuNzUgMTgxLjVRNzM2IDY5MC41IDczNiA3MDRxMCAxMy43NS05LjEyNSAyMi44NzVUNzA0IDczNnEtMTMuNSAwLTIyLjc1LTkuMjVMNDk5Ljc1IDU0NXEtMzcuNSAzMC4yNS04My41IDQ2LjYyNVQzMjAgNjA4cS01OC41IDAtMTExLjg3NS0yMi44NzVUMTE2LjI1IDUyMy43NXQtNjEuMzc1LTkxLjg3NVQzMiAzMjB0MjIuODc1LTExMS44NzUgNjEuMzc1LTkxLjg3NSA5MS44NzUtNjEuMzc1VDMyMCAzMnptMCA2NHEtNDUuNSAwLTg3IDE3Ljc1dC03MS41IDQ3Ljc1LTQ3Ljc1IDcxLjVUOTYgMzIwdDE3Ljc1IDg3IDQ3Ljc1IDcxLjUgNzEuNSA0Ny43NVQzMjAgNTQ0dDg3LTE3Ljc1IDcxLjUtNDcuNzUgNDcuNzUtNzEuNVQ1NDQgMzIwdC0xNy43NS04Ny00Ny43NS03MS41LTcxLjUtNDcuNzVUMzIwIDk2em0wIDk2cTEzLjI1IDAgMjIuNjI1IDkuMzc1VDM1MiAyMjR2NjRoNjRxMTMuMjUgMCAyMi42MjUgOS4zNzVUNDQ4IDMyMHQtOS4zNzUgMjIuNjI1VDQxNiAzNTJoLTY0djY0cTAgMTMuMjUtOS4zNzUgMjIuNjI1VDMyMCA0NDh0LTIyLjYyNS05LjM3NVQyODggNDE2di02NGgtNjRxLTEzLjI1IDAtMjIuNjI1LTkuMzc1VDE5MiAzMjB0OS4zNzUtMjIuNjI1VDIyNCAyODhoNjR2LTY0cTAtMTMuMjUgOS4zNzUtMjIuNjI1VDMyMCAxOTJ6Ii8+PC9zdmc+);
    }
    >.videoWrapper {
      padding: 0;
      margin: auto;
      height: auto;
      position: relative;
      display: block;
      >video {
        object-fit: contain;
        width: 100%;
        border: 1px solid $color-main;
      }
      &.gif>video {
        border: none;
        width: auto;
        max-width: 100%;
      }
      &.gif:hover::before,
      &.gif:focus::before {
        opacity: 0;
      }
      &.gif::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        background: transparent center no-repeat url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiB2aWV3Qm94PSIwIDAgNjAgNjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM1LjE3MiAyOS40NGwtNi4yNC00LjUzOGMtLjIzLS4xNjYtLjUzMy0uMTktLjc4NC0uMDYyLS4yNTMuMTMtLjQxLjM5LS40MS42N3Y5LjA3YzAgLjI4My4xNTcuNTQyLjQxLjY3LjEwNy4wNTQuMjI0LjA4LjM0Mi4wOC4xNTQgMCAuMzEtLjA1LjQ0Mi0uMTQ1bDYuMjQtNC41MzJjLjE5Ny0uMTQ1LjMxMi0uMzcuMzEyLS42MDcgMC0uMjQyLS4xMTctLjQ2NS0uMzEyLS42MDd6IiBmaWxsPSIjRkZGIi8+PHBhdGggZD0iTTMwLjIxNiAxNS4wMDJjLTguMyAwLTE1LjAyNiA2LjcyNi0xNS4wMjYgMTUuMDI2IDAgOC4yOTYgNi43MjYgMTUuMDIgMTUuMDI2IDE1LjAyIDguMjk4IDAgMTUuMDI1LTYuNzI1IDE1LjAyNS0xNS4wMkM0NS4yNDQgMjEuNzI4IDM4LjUxNiAxNSAzMC4yMTggMTV6bTAgMjcuNTRjLTYuOTEyIDAtMTIuNTE2LTUuNi0xMi41MTYtMTIuNTE0IDAtNi45MSA1LjYwNC0xMi41MiAxMi41MTYtMTIuNTIgNi45MSAwIDEyLjUxNCA1LjYwOCAxMi41MTQgMTIuNTJTMzcuMTI2IDQyLjU0IDMwLjIxNiA0Mi41NHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=);
      }
    }
    >a:hover::before,
    >a:focus::before {
      opacity: 1;
    }
    /** **/
    picture,
    img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      max-width: 100%;
      min-width: 70%;
      height: auto;
    }
    .gallery {
      display: flex;
      img {
        min-width: none;
      }
    }
    figcaption {
      margin-left: auto;
      margin-right: auto;
      font-style: italic;
      max-width: 80%;
      text-align: center;
    }
  }
  strong {
    color: $color-main;
  }

  a {
    &.reversefootnote {
      background: none;
    }
    &:hover {
      color: darken($color-main, 20);
    }
  }

  .read-more {
    a:visited {
      color: darken($color-main, 10);
    }
  }
  .canonical {
    display: block;
    margin: 2em auto;
    border: 1px dotted $color-main;
    padding: 10px;
  }
  ins {
    text-decoration: none;
    border: 1px solid $color-lightgray;
    padding: 3px;
    &.bloc {
      padding: 15px;
      display: block;
    }
  }
}

footer .wrap {
  text-align: right;
  margin-right: 3em;
}


/* Pagination HTML & CSS code from nhoizey */

.pagination {
  font-size: 1.2em;
  margin: 3em auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  li {
    flex-grow: 1;
    text-align: center;
    &.dist1,
    &.dist2,
    &.dist3,
    &.extreme {
      display: none;
    }
    @media (min-width: 20em) {
      &.extreme {
        display: block;
      }
      &.ellipsis1 {
        display: none;
      }
    }
    @media (min-width: 25em) {
      &.dist1 {
        display: block;
      }
      &.ellipsis2 {
        display: none;
      }
    }
    @media (min-width: 30em) {
      &.dist2 {
        display: block;
      }
      &.ellipsis3 {
        display: none;
      }
    }
    a,
    strong,
    &.disabled {
      padding: 0.1em 0.3em;
      border: 2px solid #fff;
      text-decoration: none;
    }
    a:hover {
      border-color: $color-main;
    }
    strong {
      font-weight: 400;
      background-color: $color-main;
      border-color: $color-main;
      color: #fff;
    }
  }
}

#tag-cloud {
  @for $i from 1 through 50 {
    .set-#{$i} {
      font-size: (0.7 + 0.1 * $i) * 1rem;
    }
  }
}

.algolia__result-link .algolia__result-highlight {
  background-color: $color-complement-faded;
}

.algolia__result-text .algolia__result-highlight {
  text-shadow: 0 0 6px rgba(47, 244, 146, 0.2);
  font-weight: bold;
}

 ::selection {
  background-color: $color-complement-faded;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 2em 0;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.page-navigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-navigation .next {
  text-align: right;
}

.sidebar {
  padding: 0.5rem 1rem;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 0;
    li {
      display: inline;
      a {
        font-size: 1rem;
      }
    }
  }
}

.icon {
  max-width: 40px;
  &.icon-clock {
    margin: -0.15em 0;
    width: 0.7em;
    color: lighten($color-gray, 10);
  }
}


/* About section */

.sidebar-about {
  display: none;
}

.follow-icons {
  text-align: center;
  display: block;
  li a:hover {
    text-decoration: none;
    color: $color-complement;
  }
}

.algolia__input {
  width: 100%;
  margin-bottom: 0;
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.categories .sidebar-nav-item {
  margin: 0 4px 0 0;
}
.secondary {
  margin-bottom: 20px;
  .sidebar-nav-item {
    display: inline-block;
  }
}

@media (min-width: 28em) {
  .sidebar {
    padding: 2rem 1rem;
  }
  .algolia__input {
    width: auto;
    margin-bottom: 1rem;
  }
  .sidebar-nav,
  .follow-icons,
  header.posts-h {
    display: block;
  }
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 33em) {
  /* About section */
  .sidebar-about {
    display: block;
  }
  .sidebar-about h1 {
    font-size: 2rem;
  }
}

@media (min-width: 48em) {
  /* About section */
  .sidebar-nav .sidebar-nav-item {
    display: block;
    border-right: none;
  }
  .sidebar-about h1 {
    font-size: 2.25rem;
  }
  .sidebar .categories {
    margin-bottom: 1rem;
  }
}

sup {
  line-height: 0;
  &::before {
    content: "\0202F";
  }
}


/** a11y **/

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  &:focus,
  &:active {
    color: #fff;
    background-color: $color-main;
    left: auto;
    top: auto;
    width: 50%;
    height: auto;
    overflow: auto;
    margin: 10px 25%;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}

.lang {
  height: 2rem;
  margin-bottom: 20px;
}

.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  max-width: 80%;
  display: block;
  margin: 0 auto 1rem auto;
}

@import "comments"