AuthType Basic
AuthName "Qui est-ce ?"
AuthUserFile /home/borisschapira/www/jekyll/slides/git/.htpasswd
Require valid-user

# No directory browsing
Options All -Indexes

# Protect the .htaccess
<Files ~ "^.*\.([Hh][Tt][Aa])">
	order allow,deny
    deny from all
    satisfy all
</Files>
