<div class="page">
  <p>
    Ouch, c'est vraiment embarassant. Mauvais lien, erreur de frappe ? Difficile à dire.
  </p>
  <p>
    A l'occasion, passez prendre un café, on en reparlera en rigolant.
  </p>
</div>
