<div class="page">
  {% if include.showtitle == true %}<h1 class="page-title">Oh, non ! Ce contenu est introuvable&#8230;</h1>
  {% endif %}
  <p class="lead">
    Ouch, c'est vraiment embarassant. Mauvais lien, erreur de frappe ? Difficile à dire.
  </p>
  <p>
    A l'occasion, passez prendre un café, on en reparlera en rigolant.
  </p>
</div>
