{% include symbols.svg %}
<div class="follow-icons">
  {% if site\.author\.wordpress != nil %}
  <a rel="me" title="Suivez-moi sur Wordpress" href="{{ site.author.wordpress }}">
    <svg class="icon icon-wordpress2">
      <use xlink:href="#icon-wordpress2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.dribbble != nil %}
  <a rel="me" title="Suivez-moi sur Dribble" href="{{ site.author.dribbble }}">
    <svg class="icon icon-dribbble2">
      <use xlink:href="#icon-dribbble2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.gplus != nil %}
  <a rel="me" title="Suivez-moi sur Google Plus" href="{{ site.author.gplus }}">
    <svg class="icon icon-google-plus2">
      <use xlink:href="#icon-google-plus2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.vimeo != nil %}
  <a rel="me" title="Suivez-moi sur Vimeo" href="{{ site.author.vimeo }}">
    <svg class="icon icon-vimeo2">
      <use xlink:href="#icon-vimeo2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.youtube != nil %}
  <a rel="me" title="Suivez-moi sur Youtube" href="{{ site.author.youtube }}">
    <svg class="icon icon-youtube3">
      <use xlink:href="#icon-youtube3"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.codepen != nil %}
  <a rel="me" title="Suivez-moi sur Codepen" href="{{ site.author.codepen }}">
    <svg class="icon icon-codepen">
      <use xlink:href="#icon-codepen"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.instagram != nil %}
  <a rel="me" title="Suivez-moi sur Instagram" href="{{ site.author.instagram }}">
    <svg class="icon icon-instagram">
      <use xlink:href="#icon-instagram"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.tumblr != nil %}
  <a rel="me" title="Suivez-moi sur Tumblr" href="{{ site.author.tumblr }}">
    <svg class="icon icon-tumblr2">
      <use xlink:href="#icon-tumblr2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.pinterest != nil %}
  <a rel="me" title="Suivez-moi sur Pinterest" href="{{ site.author.pinterest }}">
    <svg class="icon icon-pinterest2">
      <use xlink:href="#icon-pinterest2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.github != nil %}
  <a rel="me" title="Suivez-moi sur Github" href="{{ site.author.github }}">
    <svg class="icon icon-github4">
      <use xlink:href="#icon-github4"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.twitter != nil %}
  <a rel="me" title="Suivez-moi sur Twitter" href="{{ site.author.twitter }}">
    <svg class="icon icon-twitter2">
      <use xlink:href="#icon-twitter2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.facebook != nil %}
  <a rel="me" title="Suivez-moi sur Facebook" href="{{ site.author.facebook }}">
    <svg class="icon icon-facebook2">
      <use xlink:href="#icon-facebook2"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.linkedin != nil %}
  <a rel="me" title="Suivez-moi sur LinkedIn" href="{{ site.author.linkedin }}">
    <svg class="icon icon-linkedin">
      <use xlink:href="#icon-linkedin"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.flickr != nil %}
  <a rel="me" title="Suivez-moi sur Flickr" href="{{ site.author.flickr }}">
    <svg class="icon icon-flickr3">
      <use xlink:href="#icon-flickr3"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.feed != nil %}
  <a rel="me" title="Abonnez-vous au flux" href="{% if (page.category | downcap) == 'papa' %}/papa{% endif %}/feed.xml">
    <svg class="icon icon-feed3">
      <use xlink:href="#icon-feed3"></use>
    </svg>
  </a>
  {% endif %}
  {% if site\.author\.mailto != nil %}
  <a rel="me" title="Ecrivez-moi !" href="mailto:{{ site.author.mailto }}">
    <svg class="icon icon-mail">
      <use xlink:href="#icon-mail"></use>
    </svg>
  </a>
  {% endif %}
</div>
