<noscript>
<style type="text/css" scoped>
.js {
  display:none;
}
</style>
</noscript>

{% if include.loadSearch %}
  <script id="algolia__template" type="text/template">
  {% raw %}
    <article id="content" class="algolia__result post" itemscope itemtype="https://schema.org/BlogPosting">
      {{#posted_at}}
      <header>
          <span class="p-date algolia__result-date">{{ posted_at_readable }}</span>
      </header>
      {{/posted_at}}
      <h1 class="post-title"><a class="algolia__result-link" href="{{ full_url }}">{{{ _highlightResult.title.value }}}</a></h1>
      <div class="algolia__result-text post-content">{{{ _highlightResult.text.value }}}</div>
    </article>
  {% endraw %}
  </script>
  <script id="algolia__template--no-results" type="text/template">
    {% include 404.html.liquid issearch=true%}
  </script>
  <script crossorigin="anonymous" integrity="sha256-jIAAmB65ff5CEFvV6DRfRWjHFwqq+AHeV4le8f8PYp4=" src="https://cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js" ></script>
{% endif %}
{% javascript analytics data-no-instant defer async %}
{% if page.type == 'post' %}
  {% javascript comments %}
  <script src='https://www.google.com/recaptcha/api.js?onload=captchaCallback&render=explicit' data-no-instant></script>
{% endif %}
{% javascript instant data-no-instant %}
{% if page.loadTwitterWjs %}
  {% javascript twitter-wjs async:"true"%}
{% endif %}
{% if include.loadSearch %}
    {% javascript search async %}
{% endif %}
{% if page.permalink == '404.html' %}
  {% javascript 404 %}
{% endif %}
