<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <link rel="shortcut icon" href="//avatars.borisschapira.com/boris_1light_150_fuchsia.jpg"/>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <!-- CSS -->
  {% css main %}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Social Media -->
  {% capture main_image_defined %}x{{ page.main_image }}{% endcapture %}
  {% capture main_image_exists %}{% file_exists {{ page.main_image }} %}{% endcapture %}
  {% if main_image_defined != 'x' and main_image_exists == "true" %}
    <meta property="og:image" content="{{ site.url }}/{{page.main_image}}" />
  {% else %}
    {% capture cat_image_path %}assets/images/category/{{ page.category | slugify }}.png{% endcapture %}
    {% capture cat_image %}{% file_exists {{ cat_image_path }} %}{% endcapture %}
    {% if cat_image == "true" %}
      <meta property="og:image" content="{{ site.url }}/{{ cat_image_path }}" />
    {% else %}
      <meta property="og:image" content="https://avatars.borisschapira.com/boris_1light_300_fuchsia.jpg" />
    {% endif %}
  {% endif %}
  <meta property="og:site_name" content="Boris Schapira" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@borisschapira" />
  <meta name="twitter:site" content="@borisschapira.com" />
  <meta name="twitter:widgets:link-color" content="{{ site.mainColor }}">
  <meta name="twitter:widgets:border-color" content="{{ site.mainColor }}">
  <meta name="twitter:dnt" content="on">
  <meta name="twitter:widgets:csp" content="on">

  {% if page.title == "Accueil" %}
    <title itemprop="name">{{ site.title }} &middot; {{ site.tagline }}</title>
    <link rel="canonical" href="{{ site.url }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }} &middot; {{ site.tagline }}" />
  {% else %}
    {% if page.type == "year" %}
      <title>{{ site.title }} &middot; année {{ page.date | localize: "%Y" }}</title>
      <meta name="description" content="Billets publiés en {{ page.date | localize: "%Y" }}" />
      <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ site.title }} &middot; année {{ page.date | localize: "%Y" }}" />
    {% else %}
      {% if page.type == "month" %}
        <title>{{ site.title }} &middot; {{ page.date | localize: '%B %Y' }}</title>
        <meta name="description" content="Billets publiés en {{ page.date | localize: '%B %Y'  }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ site.title }} &middot; {{ page.date | localize: '%B %Y' }}" />
      {% else %}
        {% if page.tag %}
          <title>{{ page.tag }} &middot; {{ site.title }}</title>
          <meta name="description" content="Billets classés dans « {{ page.tag }} »" />
          <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
          <meta property="og:type" content="website" />
          <meta property="og:title" content="{{ page.tag }} &middot; {{ site.title }}" />
        {% else %}
          {% if page.canonical != nil %}<link rel="canonical" href="{{ page.canonical }}" itemprop="url" />{% endif %}
          <title>{{ page.title | strip_html }} &middot; {{ site.title }}</title>
          <meta name="description" content="{{ page.excerpt | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
          <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
          <meta property="og:type" content="article" />
          <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}" />
          <meta property="article:author" content="https://www.facebook.com/borisschapira" />
          {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}" />
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  <!-- Real favicon generator -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=NmmdjmNgRx">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=NmmdjmNgRx">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=NmmdjmNgRx" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=NmmdjmNgRx" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v=NmmdjmNgRx" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=NmmdjmNgRx" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=NmmdjmNgRx">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=NmmdjmNgRx" color="#d00b6d">
  <link rel="shortcut icon" href="/favicon.ico?v=NmmdjmNgRx">
  <meta name="msapplication-TileColor" content="#d00b6d">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=NmmdjmNgRx">
  <meta name="theme-color" content="#d00b6d">
</head>
