{% capture post_content %}
    {{ post.content }}{% unless page.hide_message %}
    <hr>
    <p style="font-style:italic">
        Vous êtes abonné au flux des articles de Boris Schapira{% unless has_cat or has_locale %}.{% else %}&nbsp;:
        <ul>
        {% if has_cat %}<li>de la catégorie : {% include category_display.html.liquid category=page.category %}{% if has_locale %}&nbsp;;{% else %}.{% endif %}</li>{% endif %}
        {% if has_locale %}<li>rédigés en {% include locale_display.html.liquid locale=page.locale %}.</li>{% endif %}
        </ul>
        {% endunless %}
    {% endunless %}
  </p>
{% endcapture %}{{ post_content | xml_escape }}