{% if include.postPage %}
  {% assign post = page %}
{% endif %}

<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting"{% if include.postPage %} id="content"{% endif %}>
  {% include post-head.html post=post showtags=include.showtags showcategory=include.showcategory %}
  <h2 class="post-title p-name">
    {% if include.postPage %}
        {{ post.title }}
    {% else %}
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  </h2>

  <div class="post-content">
    {% if include.postPage %}
      {{ post.content }}
    {% else %}
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first % }}
      {% else %}
        {% if post.content.size < 500 %}
          {{ post.content }}
        {% else %}
          {{ post.excerpt | markdownify }}
        {% endif %}
      {% endif %}
      <p>
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{post.title}}">Lire la suite →</a>
      </p>
    {% endif %}
  </div>
</article>
