<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/" itemprop="url">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    {% if page.loadSearch %}
      <div class="sidebar-search">
        <input type="text" class="js algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Recherche" autofocus title="Recherche"/>
      </div>
    {% endif %}

    <nav class="sidebar-nav">
      <ul class="categories">
        {% capture nocat %}x{{ page.category }}{% endcapture %}
        <li class="sidebar-nav-item {% if nocat == "x" %} active{% endif %}">
          <a href="{{ site.baseurl }}/">En vrac</a>
        </li>

        {% assign cit_posts = (site.posts | where: "category" , "Citoyen") %}
        {% if cit_posts.size > 0 %}
          <li class="sidebar-nav-item{% if page.category == 'Citoyen' %} active{% endif %}">
            <a href="{{ site.baseurl }}/citoyen/">Citoyen</a>
          </li>
        {% endif %}

        {% assign papa_posts = (site.posts | where: "category" , "Papa") %}
        {% if papa_posts.size > 0 %}
          <li class="sidebar-nav-item{% if page.category == 'Papa' %} active {% endif %}">
            <a href="{{ site.baseurl }}/papa/">Papa</a>
          </li>
        {% endif %}
      </ul>

      <ul class="secondary">

        <li class="sidebar-nav-item {% if page.url == "/search/" %} active {% endif %}">
          <a href="{{ site.baseurl }}/search/">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>&nbsp;Recherche</a>
        </li>
        <li class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}">
          <a href="{{ site.baseurl }}/about/">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>&nbsp;À&nbsp;propos</a>
        </li>
      </ul>
    </nav>

    {% include sidebar-follow-icons.html %}

  </div>
</div>
