/* Fuschia */
.theme-base-0g {
  .sidebar {
    background-color: #d00b6d;
  }
  .content a,
  .related-posts li a:hover {
    color: #d00b6d;
  }
}

.footnotes {
  margin-top: 5em;
}

.elevator {
  text-align: center;
  a {
    cursor: pointer;
  }
}
