$color-fuschia: #d00b6d;
$color-gray: rgb(154,154,154);

/* Lisibility */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fuschia */
.theme-base-0g {
  .sidebar {
    background-color: $color-fuschia;
  }
  .content a,
  .content .post-date a:hover,
  .content .post-tags a:hover,
  .related-posts li a:hover {
    color: $color-fuschia;
  }

  abbr, acronym
  {
	  border-bottom: .1em dotted $color-fuschia;
  }

  hr {
    color: $color-fuschia;
    background-color: $color-fuschia;
    border: 0;
    height: 1px;
  }

  /* Meta data line below post title */
  .post-date, .post-tags {
    display: inline-block;
    margin-bottom: 0;
    a {
      color: $color-gray;
    }
  }

  .post-tags::before {
      content: "\00a0·\00a0";
  }

  .contrib{
    border: 1px solid $color-fuschia;
    padding: 10px;
    color: #333;
  }

  .related {
    border-top: none
  }
}

.footnotes {
  margin-top: 5em;
}

.elevator {
  text-align: center;
  margin-bottom: 4em;

  a {
    cursor: pointer;
  }
}

.post-content {
  h2:first-child {
  	font-style: italic;
  	font-weight: normal;
  	font-size: 1.6em;
  	line-height: 1.2em;
  	margin-top: -0.3em;
  	margin-bottom: 1em;
  	letter-spacing: 0;
  }

  blockquote {
    font-size: 1.1rem;
    border-left: .25rem solid $color-fuschia;

    cite {
      font-size: 1rem;
      margin-top: 1em;
      display: block;
    }

  }

  li {
    margin: 1rem 0;
  }

  figure {

  	picture, img {
  		margin-left: auto;
  		margin-right: auto;
  		max-width: 100%;
  	}

  	figcaption {
      margin-left: auto;
  		margin-right: auto;
      font-style: italic;
      max-width: 80%;
      text-align: center;
  	}
  }

  strong {
    color: $color-fuschia;
  }

  a {
    text-decoration: underline;

    &.reversefootnote {
      text-decoration: none;
    }
  }
}

/* Pagination HTML & CSS code from nhoizey */
.pagination {
  font-size: 1.2em;
  margin: 3em auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;

  li {
    flex-grow: 1;
    text-align: center;

    &.dist1, &.dist2, &.dist3, &.extreme {
      display: none;
    }

    @media (min-width: 20em) {
      &.extreme {
        display: block;
      }

      &.ellipsis1 {
        display: none;
      }
    }

    @media (min-width: 25em) {
      &.dist1 {
        display: block;
      }

      &.ellipsis2 {
        display: none;
      }
    }

    @media (min-width: 30em) {
      &.dist2 {
        display: block;
      }

      &.ellipsis3 {
        display: none;
      }
    }

    a, strong, &.disabled {
      padding: .1em .3em;
      border: 2px solid #fff;
      text-decoration: none;
    }

    a:hover {
      border-color: $color-fuschia;
    }

    strong {
      font-weight: 400;
      background-color: $color-fuschia;
      border-color: $color-fuschia;
      color: #fff;
    }
  }
}

#tag-cloud {
  @for $i from 1 through 50 {
    .set-#{$i} { font-size: (0.7 + 0.1 * $i) * 1rem; }
  }
}
