@use 'sass:math';

.page-title {
  grid-column: 1 / 13;
  text-align: center;
  background-color: var(--color-main-grayfade);
  margin: 0;
  padding: $global-gutters;
  border-bottom: 1px solid var(--color-main);

  h1 {
    margin: 0;
  }

  small {
    display: block;

    &.page {
      display: inline;
    }
  }
}

.meta {
  font-size: unquote('max(16px, 0.85rem)');
  color: var(--color-main-gray);
  margin-top: math.div($global-gutters, 2);

  > span {
    &::before {
      content: '\00a0·\00a0';
    }
  }

  > span,
  > time {
    display: inline-block;
    margin-bottom: 0;
    color: var(--color-main-gray);

    a:not(.category) {
      color: var(--color-main-gray);
    }
  }

  .webshare {
    visibility: hidden;
    color: var(--color-main);

    &.visible {
      visibility: visible;
    }

    button {
      background: none !important;
      border: none;
      padding: 0 !important;

      color: #069;
      text-decoration: none;
      cursor: pointer;

      color: var(--main-color);

      &:hover,
      &:focus {
        text-decoration: underline;
        color: var(--compliment-color);
      }
    }
  }
}

.nav-arrow {
  z-index: 1;
  margin: 1vw;
  position: fixed;
  height: 70vh;
  top: 15vh;
  font-size: 1.5rem;

  @include media('>=small') {
    font-size: 2rem;
  }

  @include media('>=large') {
    margin: 5vw;
  }

  a {
    line-height: 70vh;
    @include media('<=small') {
      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        background-color: transparent;
      }
    }

    background-color: var(--color-main-background);
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

@media print {
  .nav-arrow {
    display: none;
  }
}

.post {
  &:not(#content) {
    padding: 2rem 0;
    .meta {
      margin-top: 0;
    }
  }

  li {
    margin: 0.7em 0;
  }

  border-bottom: $border-separators solid var(--color-main-text);

  &:last-of-type:not(:only-of-type) {
    border-bottom: none;
  }

  .post-title {
    margin: 0 0 0.5rem 0;
  }
  .post-content {
    h2:first-child {
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1.2rem;
      margin-top: -1rem;
      margin-bottom: 1em;
      letter-spacing: 0;
      text-transform: lowercase;
    }
  }
}

.post-content > .videoWrapper {
  @include bleed(80vw);
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper {
  position: relative;
  height: 0;
  margin: 2em 0;
  padding-top: 25px;
  padding-bottom: 70%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

div.highlighter-rouge {
  border: 1px solid var(--color-main-gray);

  .highlight {
    margin: 0;
    padding: 1rem;
  }
}

div:not(.inline-note) > div.highlighter-rouge {
  @include bleed(80vw);
}

figure {
  text-align: center;
  @include bleed(80vw);

  /** http://www.24joursdeweb.fr/2015/pseudo-elements-pseudos-mais-puissants/ **/
  > a,
  .video-container {
    position: relative;
    display: inline-block;
  }

  > a {
    cursor: zoom-in;
  }

  > .videoWrapper {
    position: relative;
    display: block;
    height: auto;
    margin: auto;
    padding: 0;

    > video {
      width: 100%;
      border: 1px solid var(--color-main);
      object-fit: contain;
    }

    &.gif > video {
      width: auto;
      min-width: 250px;
      min-height: 250px;
      max-width: unquote('min(28rem, 100%)');
      border: none;
      border-radius: 0.5rem;
    }

    &.gif {
      cursor: pointer;
    }
  }

  > a:hover::before,
  > a:focus::before {
    opacity: 1;
  }

  /** **/
  picture,
  img {
    height: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  .gallery {
    display: flex;

    img {
      min-width: none;
    }
  }

  figcaption {
    @extend %italic;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

table {
  @include bleed(80vw);
  border: solid 1px var(--color-main-text);
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--color-main-text);

  thead {
    th {
      border: solid 1px var(--color-main-text);
      padding: 0.5rem;
    }
    th,
    th strong {
      background-color: var(--color-main);
      color: var(--color-main-background);
    }
  }

  tbody td {
    border: solid 1px var(--color-main-text);
    padding: 0.5rem;
  }

  @include media('<=medium') {
    &.responsive {
      display: block;
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tbody {
        tr {
          border: 1px solid #ccc;
        }

        td {
          /* Behave  like a "row" */
          position: relative;
          border-style: double;
          border-width: 0.5rem;
        }

        td[data-label] {
          padding-top: 2rem;
          border: none;
        }

        td:before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          padding-right: 10px;
          white-space: nowrap;
          font-weight: bold;
        }

        /* Label the data */
        td:before {
          content: attr(data-label);
          font-size: 0.8rem;
        }
      }
    }
  }
}

strong {
  color: var(--color-main);
}

a {
  .post-content & {
    text-decoration: underline;

    &:hover {
      text-decoration: dotted;
    }
  }

  &.reversefootnote {
    background: none;
  }

  &:hover {
    color: var(--color-main-highlight);
  }
}

.sharing {
  article {
    border: 2px solid var(--color-main);
    border-radius: 1em;
    padding: 1em 2em;
    margin-block-start: 2em;

    h2 {
      margin-block-end: 0;
      & + p {
        margin-block-start: 0;
      }
    }
  }
}

sup {
  margin: 0 0.2rem;
}
