html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  background-color: var(--color-main-background);
  background-image: none;
  @extend %main-grid;

  &.full-width-content {
    .content {
      grid-column: 2 / 12;
      margin: auto;
    }

    aside {
      display: none;
    }
  }

  .content {
    grid-column: 2 / 8;
    max-width: 38rem;

    @include media("<large") {
      grid-column: 2 / 12;
    }
  }

  aside {
    grid-column: 9 / 12;
    border-left: $border-separators solid var(--color-main-grayfade);
    padding: $global-gutters/2;
    display: block;

    @include media("<large") {
      grid-column: 2 / 12;
    }
  }
}

.widget {
  padding: $global-gutters/2;
  border-bottom: $border-separators solid var(--color-main-grayfade);

  &:last-of-type:not(:only-of-type) {
    border-bottom: none;
  }

  ul {
    @extend %ul-reset;
    margin-left: 1rem;
  }

  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
