html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

[name="dark-mode-input"] {
  display: none;
}

.container {
  background-color: var(--color-main-background);
  background-image: none;
  @extend %main-grid;

  &.full-width-content {
    .content {
      grid-column: 2 / 12;
      width: 100%;
      max-width: 38rem;
      margin: auto;
    }

    aside {
      display: none;
    }
  }

  .content {
    padding-bottom: 3rem;
    grid-column: 2 / 12;

    @include media(">=large") {
      grid-column: 2 / 9;
    }
  }

  aside {
    grid-column: 2 / 12;
    padding: 0 $global-gutters;
    display: block;

    @include media(">=large") {
      grid-column: 9 / 12;
      border-left: $border-separators solid var(--color-main-grayfade);
    }
  }
}

.widget {
  padding: $global-gutters/2;
  border-bottom: $border-separators solid var(--color-main-grayfade);

  &:last-of-type:not(:only-of-type) {
    border-bottom: none;
  }

  ul {
    @extend %ul-reset;
    margin-left: 1rem;
  }

  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }

  .active {
    font-weight: bold;

    &:before {
      content: "<";
      margin-left: -1ch;
    }
    &:after {
      content: " />";
    }
  }
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.nav-header,
.nav-footer {
  a,
  label {
    color: var(--color-compliment-text);

    &:hover {
      color: var(--color-compliment-text);
    }
  }

  label {
    user-select: none;
    svg {
      height: 1.4rem;
      width: 1.4rem;
    }
  }
}

.nav-footer {
  @extend %main-grid;
  font-size: 0.8rem;
  color: var(--color-compliment-text);

  h3 {
    color: var(--color-compliment-text);
  }

  a {
    text-decoration: underline;
  }

  p {
    text-align: center;
    grid-column: 2/12;
  }
}

.socials {
  @extend %li-no-list-style;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}
