html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

[name='dark-mode-input'] {
  display: none;
}

.utility-main {
  display: contents;
}

.container {
  background-color: var(--color-main-background);
  background-image: none;
  @extend %main-grid;

  &.full-width-content {
    position: relative;

    .content {
      grid-column: 1 / 13;
      width: 100%;
      max-width: 30rem;
      margin: auto;
    }

    aside {
      display: none;
    }
  }

  .content {
    padding-bottom: 3rem;
    grid-column: 1 / 13;
    grid-row: 2;

    @include media('>=large') {
      grid-column: 1 / 10;
      grid-row: 1;
    }
  }

  .web-content {
    padding-bottom: 3rem;

    @include media('>=large') {
      grid-column: 1 / 7;
    }
  }

  .other-content {
    padding-bottom: 3rem;
    grid-column: 9 / 12;
    grid-row: 2;
    font-size: 0.8em;

    @include media('>=large') {
      grid-column: 7 / 10;
      grid-row: 1;
    }

    .post:not(#content) {
      padding: 1rem 0;

      &:first-of-type {
        padding-top: 2rem;
      }
    }
  }

  aside {
    grid-column: 1 / 13;
    grid-row: 1;
    padding: 0;
    margin: 0 -1rem;
    display: block;

    @include media('>=large') {
      margin: 0;
      padding: 0 0 0 $global-gutters;
      grid-column: 10 / 13;
      border-left: $border-separators solid var(--color-main-grayfade);
    }

    .categories {
      font-family: monospace;

      @include media('<large') {
        h2 {
          display: none;
        }
        ul {
          display: flex;
          justify-content: space-between;
        }
        li {
          display: inline-block;
        }
      }
    }

    .svg-me {
      display: none;
      content-visibility: auto;
      @include media('>=large') {
        display: block;
      }
    }
  }

  .over-large {
    content-visibility: auto;
    display: none;
    @include media('>=large') {
      display: block;
    }
  }

  .under-large {
    content-visibility: auto;
    @include media('>large') {
      display: none;
    }
  }
}

.widget {
  padding: $global-gutters 0;
  border-bottom: $border-separators solid var(--color-main-grayfade);

  &:last-of-type:not(:only-of-type) {
    border-bottom: none;
  }

  ul {
    @extend %ul-reset;
    margin: 0 1rem;
  }

  h2,
  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }

  .active {
    font-weight: bold;

    &:before {
      content: '<';
      font-size: 0.8em;
      @include media('>large') {
        margin-left: -1ch;
      }
    }
    &:after {
      content: '/>';
      font-size: 0.8em;
    }
  }
}

.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

.nav-header,
.nav-footer {
  a,
  label {
    cursor: pointer;
    color: var(--color-compliment-text);

    &:hover {
      color: var(--color-compliment-text);
    }
  }

  label {
    user-select: none;
    svg {
      line-height: 4rem;
      width: 1.4rem;
      height: 4rem;
      vertical-align: middle;
    }
  }
}

.nav-footer {
  @extend %main-grid;

  content-visibility: auto;

  font-size: 0.8rem;
  color: var(--color-compliment-text);

  h3 {
    color: var(--color-compliment-text);
  }

  a {
    text-decoration: underline;
  }

  p {
    text-align: center;
    grid-column: 2/12;
  }
}

.socials {
  @extend %li-no-list-style;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

@view-transition {
  navigation: auto;
}
