@use 'sass:math';

.color-container:hover,
.menu-trigger {
  @include transition('transform 0.25s ease-out');
}

.color-container.menu-open {
  transform: translateX(-100vw);
  .menu-trigger {
    transform: translateX(100vw);
  }

  .menu {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 10vh 0 0 0;
    position: absolute;
    top: 0;
    bottom: -100vh;
    bottom: -100dvh;
    right: 0;
    background-color: var(--color-main-background);
    content-visibility: auto;
  }

  a,
  label {
    color: var(--color-main);
    &:hover {
      color: var(--color-main-highlight);
    }
  }

  nav ul {
    display: block;
    position: fixed;
    margin: math.div($global-gutters, 2);
    top: 0;
    left: 100%;
    width: 100%;
    z-index: $zindex-nav;
  }

  .close-label {
    display: block;
  }
  .menu-label {
    display: none;
  }
}

.nav-header {
  font-family: var(--default-font-family);
  font-weight: bold;
  position: relative;
  @extend %main-grid;

  .close-label {
    display: none;
  }

  a.title {
    display: flex;
    grid-column: 1 / 10;
    line-height: 4rem;
    font-size: 1.3em;

    @include media('>=large') {
      grid-column: 1 / 4;
    }
  }

  nav {
    grid-column: 10 / 13;
    display: flex;
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
    line-height: 4rem;
  }

  ul {
    @extend %ul-reset;
    display: none;

    a {
      padding: 0.5rem 0;
    }

    li {
      white-space: nowrap;
    }
  }

  .lang {
    text-transform: uppercase;
  }

  .menu-trigger {
    z-index: $zindex-nav-trigger;
  }

  @include media('>=large') {
    .menu-trigger {
      display: none;
    }
    ul {
      display: flex;
      width: 65vw;
      justify-content: space-evenly;
    }
    nav {
      grid-column: 4 / 13;
    }
  }
}
