@charset "utf-8";

$color-main: #188C9D;
$texture: "/assets/images/theme/bright-squares.png";
$texture-size: 297px;
$texture_2X: "/assets/images/theme/bright-squares_2x.png";

@import
        "custom/boris",
        "vendor/abbr-touch"
;
