@charset "utf-8";

$color-main: #d00b6d;
$texture: "/assets/images/theme/fabric.png";
$texture_2X: "/assets/images/theme/fabric_2X.png";

@import
        "custom/boris",
        "vendor/abbr-touch"
;
