@charset "utf-8";

$color-main: #90084c;
$texture: "/assets/images/theme/fabric";
$texture-size: 315px;
$texture_2X: "/assets/images/theme/fabric_2x";

@import
        "custom/boris",
        "vendor/abbr-touch"
;
