@charset "utf-8";

$color-main: #008300;
$texture: "/assets/images/theme/fabric.png";
$texture-size: 315px;
$texture_2X: "/assets/images/theme/fabric_2x.png";

@import
        "custom/boris",
        "vendor/abbr-touch"
;
