@charset "utf-8";

$color-main: #008300;
$texture: "/assets/images/theme/arches.png";
$texture-size: 103px 23px;
$texture_2X: "/assets/images/theme/arches_2x.png";

@import
        "custom/boris",
        "vendor/abbr-touch"
;
