$mainFontSize: 36px;
$marginLeft: 10px;
.reveal {
	[class^="columns-"] {
		 > ul,
		> ol {
			&:only-of-type {
				list-style-type: none;
			}
			margin-left: 0;
		}
	}
	.columns-2 {
		 > ul,
		> ol {
			&:only-of-type {
				columns: 2;
			}
		}
	}
	.columns-3 {
		 > ul,
		> ol {
			&:only-of-type {
				columns: 3;
			}
		}
	}
	.table-compact table {
		font-size: 0.6em;
	}
	img {
		max-height: 14em;
	}
	.centered {
		> ul,
		> ol,
		> p {
			&:only-of-type {
				text-align: center;
			}
		}
		img {
			margin: auto;
		}
	}
}
noscript {
	li:first-of-type {
		font-size: 1.2em;
		margin: 12px 0 12px #{-1 * $mainFontSize};
		list-style-type: none;
	}
}
