@charset "utf-8";

$color-main: #0000C5;
$texture: "/assets/images/theme/bright-squares";
$texture-size: 297px;
$texture_2X: "/assets/images/theme/bright-squares_2x";

@import
        "custom/boris",
        "vendor/abbr-touch"
;
