/* ==========================================================================
   CONFIG
   ========================================================================== */
.pagination, ul.comments {
  list-style-type: none; }
  .pagination:before, ul.comments:before {
    content: "\200B";
    /* add zero-width space */ }

:root {
  --color-main-hue: 330;
  --color-main-saturation: 90%;
  --color-main-lightning: 30%;
  --color-citoyen-hue: 188;
  --color-citoyen-saturation: 73%;
  --color-citoyen-lightning: 30%;
  --color-papa-hue: 120;
  --color-papa-saturation: 100%;
  --color-papa-lightning: 30%;
  --color-web-hue: 210;
  --color-web-saturation: 80%;
  --color-web-lightning: 50%;
  --is-dark-mode: 0; }

@media (color-index: 48), (prefers-color-scheme: dark) {
  :root {
    --is-dark-mode: 1; } }

.colorized,
.ais-hits--item,
a {
  --color-main: hsl(
    var(--color-hue),
    var(--color-saturation),
    calc(var(--color-lightning) + var(--is-dark-mode) * 10%)
  );
  --color-main-text: hsl(0, 0%, calc(5% + 90% * var(--is-dark-mode)));
  --color-compliment-text: hsl(0, 0%, calc(95% - 90% * var(--is-dark-mode)));
  --color-main-desaturate: hsl(
    var(--color-hue),
    var(--color-saturation),
    calc(var(--color-lightning) + 40%)
  );
  --color-main-dark: hsl(
    var(--color-hue),
    var(--color-saturation),
    calc(var(--color-lightning) - 10%)
  );
  --color-main-light: hsl(
    var(--color-hue),
    var(--color-saturation),
    calc(var(--color-lightning) + 10%)
  );
  --color-compliment: hsl(
    calc(var(--color-hue) + 180),
    var(--color-saturation),
    calc(var(--color-lightning) + var(--is-dark-mode) * 10%)
  );
  --color-compliment-desaturate: hsl(
    calc(var(--color-hue) + 180),
    var(--color-saturation),
    calc(var(--color-lightning) + 40%)
  );
  --color-compliment-dark: hsl(
    calc(var(--color-hue) + 180),
    var(--color-saturation),
    calc(var(--color-lightning) - 10%)
  );
  --color-compliment-light: hsl(
    calc(var(--color-hue) + 180),
    var(--color-saturation),
    calc(var(--color-lightning) + 10%)
  );
  --color-main-background: hsl(
    var(--color-hue),
    30%,
    calc(99% - var(--is-dark-mode) * 99%)
  );
  --color-main-background: hsl(
    calc(var(--color-hue) + 180),
    30%,
    calc(99% - var(--is-dark-mode) * 99%)
  );
  --color-main-gray: hsl(var(--color-hue), 10%, 50%);
  --color-main-grayfade: hsl(
    var(--color-hue),
    30%,
    calc(95% - 75% * var(--is-dark-mode))
  ); }
  .colorized.main,
  .ais-hits--item.main,
  a.main {
    --color-hue: var(--color-main-hue);
    --color-saturation: var(--color-main-saturation);
    --color-lightning: var(--color-main-lightning); }
  .colorized.citoyen,
  .ais-hits--item.citoyen,
  a.citoyen {
    --color-hue: var(--color-citoyen-hue);
    --color-saturation: var(--color-citoyen-saturation);
    --color-lightning: var(--color-citoyen-lightning); }
  .colorized.papa,
  .ais-hits--item.papa,
  a.papa {
    --color-hue: var(--color-papa-hue);
    --color-saturation: var(--color-papa-saturation);
    --color-lightning: var(--color-papa-lightning); }
  .colorized.web,
  .ais-hits--item.web,
  a.web {
    --color-hue: var(--color-web-hue);
    --color-saturation: var(--color-web-saturation);
    --color-lightning: var(--color-web-lightning); }

body {
  color: var(--color-main-text);
  background-color: var(--color-compliment-text); }

header,
footer {
  color: var(--color-main-text);
  background-color: var(--color-main); }
  article header,
  section header, article
  footer,
  section
  footer {
    background: none !important;
    background-image: none !important; }
  .main header, .main
  footer {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/svg%3E"); }
  .citoyen header, .citoyen
  footer {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27174%27%20height%3D%2721%27%20viewBox%3D%270%200%201000%20120%27%3E%3Cg%20fill%3D%27none%27%20stroke%3D%27%2399999980%27%20stroke-width%3D%2710%27%20%3E%3Cpath%20d%3D%27M-500%2C75c0%2C0%2C125-30%2C250-30S0%2C75%2C0%2C75s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30%27%2F%3E%3Cpath%20d%3D%27M-500%2C45c0%2C0%2C125-30%2C250-30S0%2C45%2C0%2C45s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30%27%2F%3E%3Cpath%20d%3D%27M-500%2C105c0%2C0%2C125-30%2C250-30S0%2C105%2C0%2C105s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30%27%2F%3E%3Cpath%20d%3D%27M-500%2C15c0%2C0%2C125-30%2C250-30S0%2C15%2C0%2C15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30%27%2F%3E%3Cpath%20d%3D%27M-500-15c0%2C0%2C125-30%2C250-30S0-15%2C0-15s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30%27%2F%3E%3Cpath%20d%3D%27M-500%2C135c0%2C0%2C125-30%2C250-30S0%2C135%2C0%2C135s125%2C30%2C250%2C30s250-30%2C250-30s125-30%2C250-30s250%2C30%2C250%2C30s125%2C30%2C250%2C30s250-30%2C250-30%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }
  .papa header, .papa
  footer {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d9d9d9' fill-opacity='0.1'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); }
  .web header, .web
  footer {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='50' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/svg%3E"); }

.pagination {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 3em auto;
  padding: 0;
  color: var(--color-text);
  max-width: 15rem; }
  .pagination li {
    flex-grow: 1;
    text-align: center; }
    .pagination li a,
    .pagination li strong {
      padding: 0.1em 0.3em;
      text-decoration: none; }
    .pagination li a {
      border: 2px solid;
      border-color: var(--color-main);
      background-color: var(--color-main);
      color: #fff; }
    .pagination li a:hover {
      background: none;
      color: var(--color-text); }
    .pagination li strong {
      font-weight: 400;
      color: var(--color-text); }

/* latin */
.reactions h2 {
  margin-bottom: 1.5rem; }

.reactions legend {
  display: table;
  padding: 0; }

.reactions fieldset {
  min-width: 0;
  margin: 0.5rem;
  padding: 0.01rem 0 0 0;
  border: 0; }

.reactions:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

.reactions textarea,
.reactions [type="text"],
.reactions [type="email"],
.reactions [type="url"] {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--color-main-grayfade); }

.reactions .info {
  float: right;
  min-width: 0;
  margin: 0.5rem;
  padding: 0.01rem 0 0 0;
  border: 0; }
  .reactions .info.hidden {
    display: none;
    opacity: 0; }

ul.comments {
  padding: 0 0 0 1rem;
  border-left: 2px solid var(--color-main); }
  ul.comments .reply-to {
    margin: 0.5rem; }
  ul.comments li {
    position: relative;
    margin-bottom: 1rem; }
  ul.comments ul.comments {
    border-left-width: 1px;
    margin: 0 0 4rem 1rem; }
  ul.comments .avatar__container {
    box-sizing: border-box;
    width: 60px; }
    ul.comments .avatar__container img {
      float: left;
      width: 60px;
      height: 60px;
      margin: 5px;
      border-radius: 5px; }
  ul.comments .comment__content {
    box-sizing: border-box;
    padding-top: 3px; }
    ul.comments .comment__content::after {
      content: " ";
      display: block;
      clear: both; }
  ul.comments .comment__author {
    font-size: 1.15rem;
    margin-top: 0; }
  ul.comments time {
    font-size: 0.8rem;
    display: inline-block;
    margin-bottom: 0;
    color: var(--color-main-gray); }
    ul.comments time a {
      color: var(--color-main-gray); }
