@keyframes browsup {
	16% {
		transform: translateY(0);
	}
	17% {
		transform: translateY(-5px);
	}
	18% {
		transform: translateY(0);
	}
}

.eyebrows {
	animation: browsup 40s ease infinite;
}

@keyframes showclosed {
	13% {
		opacity: 0;
	}
	14% {
		opacity: 1;
	}
	15% {
		opacity: 0;
	}
	41% {
		opacity: 0;
	}
	42% {
		opacity: 1;
	}
	43% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	58% {
		opacity: 0;
	}
	59% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	74% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	76% {
		opacity: 0;
	}
}

.eye-closed {
	animation: showclosed 20s ease infinite;
}

@keyframes hideopen {
	13% {
		opacity: 1;
	}
	14% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	41% {
		opacity: 1;
	}
	42% {
		opacity: 0;
	}
	43% {
		opacity: 1;
	}
	44% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	58% {
		opacity: 1;
	}
	59% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	74% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	76% {
		opacity: 1;
	}
}

.eye-open {
	animation: hideopen 20s ease infinite;
}
