$sidebar-size: 14rem;

@import "vendor/poole", "vendor/hyde", "mixins/scrollbars";
@include scrollbars(0.3rem);
html {
  font-size: calc(16px + (22 - 16) * (100vw - 400px) / (1280-400));
  line-height: 1.7;
}

@media (min-width: 80rem) {
  html {
    font-size: 22px;
  }
}

/* Lisibility */

.hide {
  display: none;
}

body {
  background-color: hsl(
    var(--main-color-hue),
    var(--main-color-saturation),
    99%
  );
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #2b2b2b;
}

blockquote {
  color: #6d6d6d;
}

img {
  height: auto;
  margin-bottom: 0;
}

.sidebar {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--main-color);
}

.content a,
.related-posts li a:hover {
  color: var(--main-color);
}

// Elegant polyfill for (text-decoration-skip-ink: auto)
.post-content a {
  padding: calc(1em * 60 / 100) 0;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: center bottom 29%;
  background-origin: padding-box;
  background-size: 100% calc(1em / 10);
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff,
    -3px 0 #fff;
}

abbr,
acronym {
  font-size: 1em;
  font-weight: normal;
  text-transform: none;
}

abbr[title],
acronym[title] {
  cursor: help;
  text-decoration: inherit;
  border-bottom: 0.1em dotted var(--lighten-color);
}

hr {
  height: 1px;
  color: var(--main-color);
  border: 0;
  background-color: var(--main-color);
}

/* Meta data line below post title */

.post header span,
.post header time {
  display: inline-block;
  margin-bottom: 0;
  color: var(--gray-color);
  a {
    color: var(--gray-color);
  }
}

.post footer {
  font-size: 0.8em;
  .contrib {
    a {
      color: var(--darken-color);
    }
  }
  .discuss,
  .share {
    a {
      color: var(--compliment-color);
    }
    input[type="submit"] {
      padding: 5px 15px;
      cursor: pointer;
      border: 0 none;
      background: var(--compliment-color);
    }
  }
  .contrib,
  .discuss,
  .share {
    margin: 20px 0;
    color: #333;
    p,
    form {
      margin: 0;
      padding: 10px;
    }
    form {
      display: flex;
      input[type="submit"] {
        flex: 1;
      }
      input[type="text"] {
        flex: 3;
      }
    }
  }
  .nowrap {
    display: inline-flex;
  }
}

header.posts-h {
  font-style: italic;
  display: none;
  margin-bottom: 2rem;
  text-align: center;
}

.p-tags,
.p-category,
.p-lang {
  &::before {
    content: "\00a0·\00a0";
  }
}

.p-lang {
  font-style: italic;
}

.related {
  border-top: none;
}

.post-title,
.page-title {
  font-size: 2rem;
}

// Elegant polyfill for (text-decoration-skip-ink: auto)
.post-title a:hover {
  padding: calc(1em * 60 / 100) 0;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: center bottom 29%;
  background-origin: padding-box;
  background-size: 100% calc(1em / 10);
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff,
    -3px 0 #fff;
}

.footnotes,
.post-footer {
  margin-top: 5em;
}

.elevator {
  margin-bottom: 4em;
  text-align: center;
  a {
    cursor: pointer;
  }
}

.post-content {
  h2:first-child {
    font-size: 1.6em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.2em;
    margin-top: -0.3em;
    margin-bottom: 1em;
    letter-spacing: 0;
  }
  blockquote {
    font-size: 1.1rem;
    border: none;
    border-left: 0.25rem solid var(--main-color);
    li {
      list-style-type: none;
    }
    li::before {
      content: "—";
    }
    cite {
      font-size: 1rem;
      display: block;
      margin-top: 1em;
    }
    &.emphasis {
      text-align: right;
      border: none;
      border-right: 0.25rem solid var(--main-color);
    }
  }
  @media (min-width: 30em) {
    blockquote.emphasis {
      padding-right: 1.25rem;
      padding-left: 5rem;
    }
  }
  li {
    margin: 1rem 0;
  }
  figure {
    text-align: center;
    /** http://www.24joursdeweb.fr/2015/pseudo-elements-pseudos-mais-puissants/ **/
    > a,
    .video-container {
      position: relative;
      display: inline-block;
    }
    > a::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
      background: rgba(0, 0, 0, 0.5) center no-repeat
        url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgNzY4IDc2OCIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTMyMCAzMnE1OC41IDAgMTExLjg3NSAyMi44NzV0OTEuODc1IDYxLjM3NSA2MS4zNzUgOTEuODc1VDYwOCAzMjBxMCA1MC4yNS0xNi4zNzUgOTYuMjVUNTQ1IDQ5OS43NWwxODEuNzUgMTgxLjVRNzM2IDY5MC41IDczNiA3MDRxMCAxMy43NS05LjEyNSAyMi44NzVUNzA0IDczNnEtMTMuNSAwLTIyLjc1LTkuMjVMNDk5Ljc1IDU0NXEtMzcuNSAzMC4yNS04My41IDQ2LjYyNVQzMjAgNjA4cS01OC41IDAtMTExLjg3NS0yMi44NzVUMTE2LjI1IDUyMy43NXQtNjEuMzc1LTkxLjg3NVQzMiAzMjB0MjIuODc1LTExMS44NzUgNjEuMzc1LTkxLjg3NSA5MS44NzUtNjEuMzc1VDMyMCAzMnptMCA2NHEtNDUuNSAwLTg3IDE3Ljc1dC03MS41IDQ3Ljc1LTQ3Ljc1IDcxLjVUOTYgMzIwdDE3Ljc1IDg3IDQ3Ljc1IDcxLjUgNzEuNSA0Ny43NVQzMjAgNTQ0dDg3LTE3Ljc1IDcxLjUtNDcuNzUgNDcuNzUtNzEuNVQ1NDQgMzIwdC0xNy43NS04Ny00Ny43NS03MS41LTcxLjUtNDcuNzVUMzIwIDk2em0wIDk2cTEzLjI1IDAgMjIuNjI1IDkuMzc1VDM1MiAyMjR2NjRoNjRxMTMuMjUgMCAyMi42MjUgOS4zNzVUNDQ4IDMyMHQtOS4zNzUgMjIuNjI1VDQxNiAzNTJoLTY0djY0cTAgMTMuMjUtOS4zNzUgMjIuNjI1VDMyMCA0NDh0LTIyLjYyNS05LjM3NVQyODggNDE2di02NGgtNjRxLTEzLjI1IDAtMjIuNjI1LTkuMzc1VDE5MiAzMjB0OS4zNzUtMjIuNjI1VDIyNCAyODhoNjR2LTY0cTAtMTMuMjUgOS4zNzUtMjIuNjI1VDMyMCAxOTJ6Ii8+PC9zdmc+);
      box-shadow: 0 0 100px 0 #000 inset;
    }
    > .videoWrapper {
      position: relative;
      display: block;
      height: auto;
      margin: auto;
      padding: 0;
      > video {
        width: 100%;
        border: 1px solid var(--main-color);
        object-fit: contain;
      }
      &.gif > video {
        width: auto;
        min-width: 250px;
        min-height: 250px;
        max-width: 100%;
        border: none;
      }
      &.gif.playing::before,
      &.gif.playing::before {
        opacity: 0;
      }
      &.gif::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        background: transparent center no-repeat
          url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiB2aWV3Qm94PSIwIDAgNjAgNjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM1LjE3MiAyOS40NGwtNi4yNC00LjUzOGMtLjIzLS4xNjYtLjUzMy0uMTktLjc4NC0uMDYyLS4yNTMuMTMtLjQxLjM5LS40MS42N3Y5LjA3YzAgLjI4My4xNTcuNTQyLjQxLjY3LjEwNy4wNTQuMjI0LjA4LjM0Mi4wOC4xNTQgMCAuMzEtLjA1LjQ0Mi0uMTQ1bDYuMjQtNC41MzJjLjE5Ny0uMTQ1LjMxMi0uMzcuMzEyLS42MDcgMC0uMjQyLS4xMTctLjQ2NS0uMzEyLS42MDd6IiBmaWxsPSIjRkZGIi8+PHBhdGggZD0iTTMwLjIxNiAxNS4wMDJjLTguMyAwLTE1LjAyNiA2LjcyNi0xNS4wMjYgMTUuMDI2IDAgOC4yOTYgNi43MjYgMTUuMDIgMTUuMDI2IDE1LjAyIDguMjk4IDAgMTUuMDI1LTYuNzI1IDE1LjAyNS0xNS4wMkM0NS4yNDQgMjEuNzI4IDM4LjUxNiAxNSAzMC4yMTggMTV6bTAgMjcuNTRjLTYuOTEyIDAtMTIuNTE2LTUuNi0xMi41MTYtMTIuNTE0IDAtNi45MSA1LjYwNC0xMi41MiAxMi41MTYtMTIuNTIgNi45MSAwIDEyLjUxNCA1LjYwOCAxMi41MTQgMTIuNTJTMzcuMTI2IDQyLjU0IDMwLjIxNiA0Mi41NHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=);
      }
    }
    > a:hover::before,
    > a:focus::before {
      opacity: 1;
    }
    /** **/
    picture,
    img {
      min-width: 70%;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
    }
    .gallery {
      display: flex;
      img {
        min-width: none;
      }
    }
    figcaption {
      font-style: italic;
      max-width: 80%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
  strong {
    color: var(--main-color);
  }

  a {
    &.reversefootnote {
      background: none;
    }
    &:hover {
      color: var(--darken-color);
    }
  }

  .read-more {
    a:visited {
      color: var(--darken-color);
    }
  }
  .canonical {
    display: block;
    margin: 2em auto;
    padding: 10px;
    border: 1px dotted var(--main-color);
    font-style: italic;
  }
  ins {
    padding: 3px;
    text-decoration: none;
    border: 1px dashed var(--lightgray-color);
    &.bloc {
      display: block;
      padding: 15px 15px 2em 15px;
      position: relative;

      &::after {
        content: attr(datetime);
        position: absolute;
        padding: 5px;
        font-size: 0.8em;
        right: 0;
        bottom: 0;
        color: var(--compliment-color);
        background-color: var(--dazzled-color);
        border-left: 1px dashed var(--lightgray-color);
        border-top: 1px dashed var(--lightgray-color);
      }
    }
  }
}

footer .wrap {
  margin-right: 3em;
  text-align: right;
}

/* Pagination HTML & CSS code from nhoizey */

.pagination {
  font-size: 1.2em;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 3em auto;
  padding: 0;
  list-style-type: none;
  li {
    flex-grow: 1;
    text-align: center;
    &.dist1,
    &.dist2,
    &.dist3,
    &.extreme {
      display: none;
    }
    @media (min-width: 20em) {
      &.extreme {
        display: block;
      }
      &.ellipsis1 {
        display: none;
      }
    }
    @media (min-width: 25em) {
      &.dist1 {
        display: block;
      }
      &.ellipsis2 {
        display: none;
      }
    }
    @media (min-width: 30em) {
      &.dist2 {
        display: block;
      }
      &.ellipsis3 {
        display: none;
      }
    }
    a,
    strong,
    &.disabled {
      padding: 0.1em 0.3em;
      text-decoration: none;
      border: 2px solid #fff;
    }
    a:hover {
      border-color: var(--main-color);
    }
    strong {
      font-weight: 400;
      color: #fff;
      border-color: var(--main-color);
      background-color: var(--main-color);
    }
  }
}

#tag-cloud {
  @for $i from 1 through 50 {
    .set-#{$i} {
      font-size: (0.7 + 0.1 * $i) * 1rem;
    }
  }
}

::selection {
  background-color: var(--compliment-faded-color);
}

.videoWrapper {
  position: relative;
  height: 0;
  margin: 2em 0;
  /* 16:9 */
  padding-top: 25px;
  padding-bottom: 56.25%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.sidebar {
  padding: 0.5rem 1rem;
  ul {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      a {
        font-size: 1rem;
      }
    }
  }
}

.icon {
  max-width: 40px;
  &.icon-clock {
    width: 0.7em;
    margin: -0.15em 0;
    color: var(--lighten-color);
  }
}

/* About section */

.sidebar-about {
  display: none;
}

.follow-icons {
  display: none;
  text-align: center;
  li a:hover,
  li a:focus {
    text-decoration: none;
    color: var(--compliment-color);
  }
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.categories .sidebar-nav-item {
  margin: 0 1rem 0 0;
}
.secondary {
  display: none;
}

@media (min-width: 33em) {
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 48em) {
  .sidebar {
    padding: 2rem 1rem;
  }
  .sidebar-nav,
  .follow-icons,
  header.posts-h {
    display: block;
  }
  .secondary {
    margin-bottom: 20px;
    display: block;
    .sidebar-nav-item {
      display: inline-block;
    }
  }
}

.sidebar .categories,
.sidebar .lang {
  display: inline-block;
}

/* About section */
.sidebar-about {
  display: block;
}
.sidebar-about h1 {
  font-size: 2rem;
}

@media (min-width: 48em) {
  /* About section */
  .sidebar-nav .sidebar-nav-item {
    display: block;
    border-right: none;
  }
  .sidebar-about h1 {
    font-size: 2.25rem;
  }
  .sidebar .categories,
  .sidebar .lang {
    display: block;
    margin-bottom: 1rem;
  }
}

sup {
  line-height: 0;
  &::before {
    content: "\0202F";
  }
}

/** a11y **/

.skip-main {
  position: absolute;
  z-index: -999;
  top: auto;
  left: -999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  &:focus,
  &:active {
    font-size: 1.2em;
    z-index: 999;
    top: auto;
    left: auto;
    overflow: auto;
    width: 50%;
    height: auto;
    margin: 10px 25%;
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
  }
}

.lang {
  height: 2rem;
  .icon {
    vertical-align: middle;
  }
}

.twitter-tweet-rendered {
  margin-right: auto;
  margin-left: auto;
}

.avatar {
  display: block;
  max-width: 80%;
  margin: 0 auto 1rem auto;
}

@import "comments";
