/* latin bold */
@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	font-display: optional;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url(/assets/fonts/pt-sans-bold.woff2) format("woff2");
	unicode-range: U+0000-00FF,
	U+0131,
	U+0152-0153,
	U+02C6,
	U+02DA,
	U+02DC,
	U+2000-206F,
	U+2074,
	U+20AC,
	U+2212,
	U+2215;
}

/* Fonts loading (see https://github.com/bramstein/fontfaceobserver/)*/
html {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "PT Sans", Helvetica, Arial, sans-serif;
	}
}
