@use 'sass:list';

.button,
.button-inversed {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: $input-vmargin $btn-hmargin;
  overflow: hidden;
  border: 1px solid;
  border-radius: 0.125em;
  box-shadow: 0 0 0.5em 0 var(--color-compliment-text);
  font: $button-font-style $button-font-weight list.slash(1em, $default-line-height)
    var(--default-font-family);
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  text-transform: lowercase;
  padding: 0 5px;
  @include transition();

  color: var(--color-compliment-text);
  background-color: var(--color-main);
  border-color: var(--color-compliment-text);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--color-main);
    background-color: var(--color-compliment-text);
    text-decoration: none;
  }

  &:active,
  &.active {
    border-color: var(--color-main-text);
  }
}

.button-inversed,
.menu-open .menu-trigger {
  color: var(--color-main);
  border-color: var(--color-main);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--color-compliment-text);
    background-color: var(--color-main);
  }
}

.button-reset {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  font: inherit;
  text-align: inherit;
  vertical-align: baseline;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
