/* ==========================================================================
   CONFIG
   ========================================================================== */

// Layout

$global-gutters: 2rem;

// Z-indexes

$zindex-nav-trigger: 5;
$zindex-nav: 2;

// Responsive

$media-ratio: (
  'xsmall': 0.85,
  'small': 0.9,
  'medium': 1,
  'large': 1.05,
  'xlarge': 1.1,
  'xxlarge': 1.15,
);

$breakpoints: (
  'xsmall': 220px,
  'small': 480px,
  'medium': 720px,
  'large': 960px,
  'xlarge': 1200px,
  'xxlarge': 1440px,
);

// Typo

$default-font-size: 1rem;
$default-line-height: 1.7;

$font-weight-normal: 400;
$font-weight-bold: 700;

$default-font-weight: $font-weight-normal;
$default-font-style: normal;

$title-font-weight: $font-weight-bold;
$title-font-style: normal;
$title-line-height: 1.7;

$button-font-weight: $font-weight-normal;
$button-font-style: normal;
$button-line-height: 1.7;

$font-sizes: (
  (
    'class': 'xxl',
    'size': 1.75rem,
  ),
  (
    'class': 'xl',
    'size': 1.5rem,
  ),
  (
    'class': 'lg',
    'size': 1.25rem,
  ),
  (
    'class': 'sm',
    'size': 0.875rem,
  ),
  (
    'class': 'xs',
    'size': 0.75rem,
  )
);

// Forms and buttons

$label-font-size: 0.875em;

$input-vmargin: 0.125em;
$input-hmargin: 0;
$input-vpadding: 0.25em;
$input-hpadding: 0.5em;

$btn-hmargin: 0.5em;
$btn-hpadding: 1.5em;

// Transitions

$enable-moves: true;
$enable-animations: $enable-moves;
$enable-transitions: $enable-moves;

$default-duration: 0.25s;
$default-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

$nav-toggle-duration: 0.5s;
$nav-toggle-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

// Separators

$border-separators: 2px;

// title font size

// The font sizes for h1-h6.
$base-font-size: 16px;
$base-unit: 'rem';
$h1-font-size: 2.4 * $base-font-size;
$h2-font-size: 1.2 * $base-font-size;
$h3-font-size: 1 * $base-font-size;
$h4-font-size: 0.8 * $base-font-size;
$h5-font-size: 0.67 * $base-font-size;
$h6-font-size: 0.37 * $base-font-size;
