/* pt-serif-regular - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local("PT Serif"), local("PTSerif-Regular"),
    url("/assets/fonts/pt-serif-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/pt-serif-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-700 - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local("PT Serif Bold"), local("PTSerif-Bold"),
    url("/assets/fonts/pt-serif-v10-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/pt-serif-v10-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-italic - latin */
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: local("PT Serif Italic"), local("PTSerif-Italic"),
    url("/assets/fonts/pt-serif-v10-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/pt-serif-v10-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-700italic - latin */
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-display: optional;
  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"),
    url("/assets/fonts/pt-serif-v10-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/pt-serif-v10-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
