[target='_blank']:not(.npe)::after {
  content: '\2197';
}
[href^='http:']:not(.npe)::after {
  content: '\00A0(http)';
  font-size: 0.8em;
  display: inline-block;
}
[href$='.pdf']:not(.npe)::after {
  font-size: 0.8em;
  content: '\00A0(pdf)';
}
[href$='.zip']:not(.npe)::after {
  font-size: 0.8em;
  content: '\00A0(zip)';
}
