:lang(fr),
:lang(en) {
  [target='_blank']:not(.npe)::after {
    content: '\2197';
  }
  [href^='http:']:not(.npe)::after {
    content: '\00A0(http)';
    font-size: 70%;
    vertical-align: super;
  }
  [href$='.pdf']:not(.npe)::after {
    content: '\00A0(pdf)';
    font-size: 70%;
    vertical-align: super;
  }
  [href$='.zip']:not(.npe)::after {
    content: '\00A0(zip)';
    font-size: 70%;
    vertical-align: super;
  }
}

a[href^='https://twitter.com']::after {
  content: '\00A0(Twitter)';
  font-size: 70%;
  vertical-align: super;
}

/* Select links written in French that target a non-French page */
:lang(fr) > :link[hreflang]:not([hreflang="fr"])::after,
/* Select links written in English that target a non-English page */
:lang(en) > :link[hreflang]:not([hreflang="en"])::after {
  /* Display the target language */
  content: '\00A0(' attr(hreflang) ')';
  font-size: 70%;
  vertical-align: super;
}
