---
layout: default
---

<h1>{{ page.date | localize: '%B %Y' }}</h1>

<div class="posts">
  {% for post in page.posts reversed %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | localize: '%A %-d %B %Y' }}</span>

    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:"<!-- more -->" | first % }}
    {% else %}
      {{ post.excerpt | markdownify }}
    {% endif %}
    <p>
      <a href="{{ site.baseurl }}{{ post.url }}">Lire la suite →</a>
    </p>
  </div>
  {% endfor %}
</div>
