--- 
layout: null 
--- 
{% if page.category %}
    {% assign cats_eyes = page.category|size %}
    {% if cats_eyes > 0 %}{% assign has_cat = true %}{% else %}{% assign has_cat = false %}{% endif %}
{% endif %}{% if page.locale %}
  {% assign locale_size = page.locale|size %}
  {% if locale_size > 0 %}{% assign has_locale = true %}{% else %}{% assign has_locale = false %}{% endif %}
{% endif %}{% if has_cat %}
  {% assign the_posts=site.categories[page.category] %} 
{% else %} 
  {% assign the_posts=site.posts %}
{% endif %}{% if has_locale %}
  {% assign the_posts=the_posts| where:"locale", page.locale %} 
{% else %} 
  {% assign the_posts=the_posts %} 
{% endif %}{% if page.url %}
  {% assign the_url = page.url %}
{% else %}
{% assign the_url = site.url %}
{% endif %}<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <link>{{ page.url | replace: '//', '/' | prepend: site.url }}</link>
    <description>{% if page.description %} {{ page.description | strip_html | xml_escape }}{% else %}{{site.description | strip_html | xml_escape}}{% endif %}</description>
    <language>{{ page.locale | downcase | replace: '_', '-' }}</language>
    <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>
    {% for post in the_posts limit: 20%}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      {% if post.author.name %}
      <dc:creator>{{ post.author.name | xml_escape }}</dc:creator>
      {% endif %}
      <description>{% capture post_content %}
          {{ post.content }}{% unless page.hide_message %}
          <hr>
          <div style="font-style:italic">
              <p>
                  {% t Vous êtes abonné·e au flux des articles %}{% unless has_cat or has_locale %}.{% else %}&nbsp;:
              </p>
              <ul>
                  {% if has_cat %}<li>{% t de la catégorie&nbsp;: %} {{ page.category | t: page.locale | capitalize}}</li>{% endif %}
                  {% if has_locale %}<li>{% t rédigés en %} {% t français %}.</li>{% endif %}
              </ul>
              {% if page.category != 'web' %}<p>
                  {% t Si vous voulez uniquement suivre les articles en rapport avec le Web, vous préférerez sûrement suivre %} <a href="{{ "web/feed.xml" | prepend: page.baseurl | absolute_url }}">{% t ce flux %}</a>.
              </p>{% endif %}
          </div>{% endunless %}
          {% endunless %}
      {% endcapture %}{{ post_content | xml_escape }}</description>
      <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
      <link>{{ post.url | absolute_url }}</link>
      <guid isPermaLink="true">{{ post.url | absolute_url }}</guid>
      {% for tag in post.tags %}
      <category>{{ tag | xml_escape }}</category>
      {% endfor %}{% for cat in post.categories %}
      <category>{{ cat | xml_escape }}</category>
      {% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>