---
layout: page
---

<section class="page">
  {% if page.events %}
  <header>
      {% for event in page.events %}
        {% assign datetime = event.date | date_to_xmlschema %}
        <div class="p-date">{{ event.name }}&nbsp;— <time class="dt-published" datetime="{{ datetime }}">{{ event.date | l: '%A %-d %B %Y', page.locale }}</time></div>
      {% endfor %}
  </header>
  {% endif %}
  <div class="post-content">
    {% if page.content.size > 1 %}
    {{ page.content }}
    {% else %}
    {{ page.description | raw }}
    {% endif %}
  </div>
</section>
