---
layout: page
---

<h2>De quoi s'agit-il ?</h2>
<header>
    {% if page.events %}
    <ul>
    {% for event in page.events %}
      {% assign datetime = event.date | date_to_xmlschema %}
      <li><a href="{{ event.url }}">{{ event.name }}</a> — <time class="dt-published" datetime="{{ datetime }}">{{ event.date | l: '%A %-d %B %Y', page.locale }}</time></li>
    {% endfor %}
  </ul>
  {% else %}
    Pour l'instant, d'un simple projet. En serez-vous un support ?
  {% endif %}
</header>

<hr>

<h2>En synthèse</h2>
{{ page.description | raw }}

<hr>

{{ page.content }}

