---
layout: default
---

<div class="utility-main" id="main">
  {%- assign locale_posts = site.posts | where: "locale", page.locale -%}
  {%- assign web_posts = locale_posts | where: "category", "web" -%}
  {%- assign other_posts = locale_posts | where_exp: "p", "p.category != 'web'" -%}

  <div class="content under-large" role="main">
    {% for post in locale_posts limit: 5 %}
      {% include post.html.liquid postPage=false post=post displayCategory="true" %}
    {% endfor %}
  </div>
  <div class="web-content over-large" role="main">
    {% for post in web_posts limit: 5 %}
      {% include post.html.liquid postPage=false post=post displayCategory="true" %}
    {% endfor %}
  </div>
</div>
<div class="other-content over-large">
  {% for post in other_posts limit: 7 %}
    {% include post.html.liquid postPage=false post=post displayCategory="true" %}
  {% endfor %}
</div>
