---
layout: default
---

<div class="content" role="main" id="main">
  {{ content }}

  {% if paginator and paginator.total_pages > 1 %}
  {% capture url_prefix %}{{ page.baseurl }}{% if page.category %}{{ page.category | t: page.locale }}/{% endif %}{% endcapture %}
  <ul class="pagination">
    {% comment %} Page précédente {% endcomment %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li>
          <a href="{{ url_prefix }}" rel="prev"><span class="sr-only">{{ "Accueil" | t: page.locale }}</span>&lsaquo;</a>
        </li>
      {% else %}
        <li>
          <a href="{{ site.pagination.permalink | replace:':num', paginator.previous_page | prepend: url_prefix | replace: '//', '/' }}" rel="prev"><span class="sr-only">{{ "Page précédente" | t: page.locale }}</span>&lsaquo;</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled">&lsaquo;</li>
    {% endif %}

    {% if paginator.page == 1 %}
      <li class="disabled">
        <strong>1</strong>
      </li>
    {% else %}
      <li>
        <a href="{{ url_prefix }}"><span class="sr-only">{{ "Accueil" | t: page.locale }}</span>1</a>
      </li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if paginator.page > 5 %}
      {% assign page_start = paginator.page | minus: 2 %}
      <li class="disabled">…</li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign to_end = paginator.total_pages | minus: paginator.page %}
    {% if to_end > 4 %}
      {% assign page_end = paginator.page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
      {% if index == paginator.page %}
      <li>
        <strong>{{index}}</strong>
      </li>
      {% else %}
      <li>
        <a href="{{ site.pagination.permalink | replace:':num', index | prepend: url_prefix | replace: '//', '/' }}"><span class="sr-only">Page</span>{{index}}</a>
      </li>
      {% endif %}
    {% endfor %}
    {% if to_end > 4 %}
      <li class="disabled">…</li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <li>
        <strong>{{paginator.page}}</strong>
      </li>
    {% else %}
      <li>
        <a href="{{ site.pagination.permalink | replace:':num', paginator.total_pages | prepend: url_prefix | replace: '//', '/' }}"><span class="sr-only">{{ "Dernière page" | t: page.locale }}</span>{{paginator.total_pages}}</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li>
        <a href="{{ site.pagination.permalink | replace:':num', paginator.next_page | prepend: url_prefix | replace: '//', '/' }}" rel="next"><span class="sr-only">{{ "Page suivante" | t: page.locale }}</span>&rsaquo;</a>
      </li>
    {% else %}
      <li class="disabled">&rsaquo;</li>
    {% endif %}
  </ul>
  {% endif %}
</div>
