---
layout: microtypo
---
<!DOCTYPE html>
<html lang="{{ site.lang }}" itemscope itemtype="https://schema.org/WebPage">

  {% include head.html.liquid %}

  <body id="top" class="theme-base-0g">
    <a class="skip-main" href="#main">Aller directement au contenu principal</a>
    {% include sidebar.html.liquid %}

    <div id="main" class="content container" role="main">
      {{ content }}
    </div>

  {% include footer.html.liquid loadSearch=page.loadSearch  %}
  {% include symbols.svg.liquid %}
  </body>
</html>
