---
layout: microtypo
---
<!DOCTYPE html>
<html lang="{{ page.locale | default: site.locale | default: "fr" }}">
  <head>
    <!-- nomicrotypo -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%- capture pageTitle -%}{{ page.social.title | strip_html | default: page.title }}{%- endcapture -%}
    <title>{{ pageTitle }}</title>
    <link href="https://boris.schapira.dev" rel="preconnect" crossorigin="anonymous">
    <link href="https://res.cloudinary.com" rel="preconnect">

    <script>performance && performance.mark('mark-head-start');</script>

    {% comment %} Prefetching previous and next pages {% endcomment %}
    {% if page.next_context or page.prev_context %}
        {% if page.prev_context %}
    <link rel="temp" data-rel="prefetch" href="{{page.prev_context.url}}">
        {% endif %}
        {% if page.next_context %}
    <link rel="temp" data-rel="prefetch" href="{{page.next_context.url}}">
        {% endif %}
    {% endif %}
    {% comment %} / Prefetching previous and next pages {% endcomment %}

    {% comment %} Styles {% endcomment %}
    <link href="{% include assets/css.html.liquid name='critical' %}" rel="stylesheet" data-proofer-ignore>
    <link href="{% include assets/css.html.liquid name='main' %}" rel="stylesheet" data-proofer-ignore>
    <link href="{% include assets/css.html.liquid name='hl' %}" rel="stylesheet" media="print" data-media="all" data-proofer-ignore>

    <script src="{% include assets/js.html.liquid name='index.min' %}" defer></script>

    <script>
      (function(){
        if(!!performance) return;
        performance.mark('mark-head-end');
        performance.measure('head-time', 'mark-head-start', 'mark-head-end');
      })()
    </script>

    <noscript><link href="{% include assets/css.html.liquid name='hl' %}" rel="stylesheet" media="all" data-proofer-ignore></noscript>

    {% comment %} / Styles {% endcomment %}

    {% comment %} Webmentions (for later use ?) {% endcomment %}
    <link rel="pingback" href="https://webmention.io/webmention?forward=https://webmention.io/boris.schapira.dev/webmention" />
    <link rel="webmention" href="https://webmention.io/boris.schapira.dev/webmention" />
    {% comment %} / Webmentions (for later use ?) {% endcomment %}

    <!-- RSS -->
    {% assign feed_url = "feed.xml" %}
    {% if page.category %}
      {% assign feed_url = page.category | t: page.locale | downcase | append: '/' | append: feed_url %}
    {% endif %}
    <link rel="alternate" type="application/rss+xml" href="{{ feed_url | prepend: page.baseurl | relative_url }}">

    {%- if page.translation -%}
    <link rel="alternate" hreflang="{{ page.translation.locale }}" href="{{ page.translation.url | absolute_url }}"/>
    {%- endif -%}
    <link rel="alternate" hreflang="{{ page.locale }}" href="{{ page.url | absolute_url }}"/>

    {% if site.norobots or page.norobots %}
    <meta name="robots" content="noindex,nofollow">
    {% elsif paginator and paginator.page > 1 %}
    <meta name="robots" content="noindex,follow">
    {% endif %}

    {%- if page.canonical -%}
      {%- if page.canonical_dismissed -%}
        {%- capture url_path -%}{{site.prod_url}}{{page.url}}{%- endcapture -%}
        <link rel="canonical" href="{{ url_path }}" data-proofer-ignore/>
      {%- else -%}
        <link rel="canonical" href="{{ page.canonical }}" data-proofer-ignore/>
      {%- endif -%}
    {%- else -%}
      {%- capture url_path -%}{{site.prod_url}}{{page.url}}{%- endcapture -%}
      <link rel="canonical" href="{{ url_path }}" data-proofer-ignore/>
    {%- endif -%}

    <meta name="description" content="{{ page.social.description }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:image" content="{{ page.social.image }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="{{ site.name }}" />

    <meta property="article:author" content="{{ site.author.name }}" />
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />

    {% if page.category %}
    <meta property="article:section" content="{{ page.category }}" />
    {% endif %}

    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}

    {% assign mastoPro = site.author.social | where: 'title', 'Mastodon (pro)' | first %}
    {% assign mastoPerso = site.author.social | where: 'title', 'Mastodon (perso)' | first %}
    <meta name="fediverse:creator" content="{% unless page.category == 'web' %}{{ mastoPerso.nick }}{% else %}{{ mastoPro.nick }}{% endunless %}" />

    <!-- Real favicon generator -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="manifest" href="/manifest.json?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="shortcut icon" href="/favicon.ico?v=E6jXRBAgkK" data-proofer-ignore>
    <meta name="theme-color" content="#{{ page.social.color }}">
    <!-- endnomicrotypo -->

    <script type="speculationrules">
    {
      "prerender": [{
        "where": {
          "href_matches": "/*"
        },
        "eagerness": "moderate"
      }]
    }
    </script>
  </head>

  <body>
    <input type="radio" id="color-mode-auto" name="dark-mode-input" value="auto">
    <input type="radio" id="color-mode-dark" name="dark-mode-input" value="true">
    <input type="radio" id="color-mode-light" name="dark-mode-input" value="false">
    <script>
      (function(){
        var ls = localStorage.getItem('dark_mode');
        if (ls !== null) {
          document.querySelector('[name="dark-mode-input"][value="'+ ls +'"]').checked = true;
        }
      })()
    </script>
    <div class="menu-state colorized {% if page.category %}{{page.category}}{% else %}main{% endif %} color-container">
      <a class="skip-main" href="#main">{{ "Aller directement au contenu principal" | t: page.locale }}</a>
      <header class="nav-header">
        <a href="{{ page.baseurl | default: "/" | relative_url }}" class="title">
          {{ site.title }}
          {%- comment -%} <img alt="{{ "Un ruban rose" | t: page.locale }}" title="{{ "Octobre Rose" | t: page.locale }}" src="/assets/images/theme/ribbon.svg" style="height: 2rem;margin-top: 1rem;border: none;"> {%- endcomment -%}
        </a>
        <nav>
          <button class="menu-trigger button" aria-controls="main-nav" aria-expanded="false" id="menu-trigger" data-toggle-class="menu-open"
          data-toggle-escape data-toggle-target-all=".menu-state">
            <span class="menu-label">{{ "menu" | t: page.locale }}</span>
            <span class="close-label">{{ "fermer" | t: page.locale }}</span>
          </button>
          <ul class="menu" id="main-nav">
            <li {% if page.type == 'post' or page.layout == 'index' %}class="active"{% endif %}><a href="{{ page.baseurl | default: "/" | relative_url }}">{{ "Notes" | t: page.locale }}</a></li>

            <li {% if page.i18n-key == 'about' %}class="active"{% endif %}><a href="{{ "a-propos" | t:page.locale | prepend: page.baseurl | relative_url }}/">{{ "À propos" | t: page.locale }}</a></li>

            {%- if page.locale == "fr" -%}
            <li {% if page.i18n-key == 'about' %}class="active"{% endif %}><a href="{{ "partager" | prepend: page.baseurl | relative_url }}/">Partager</a></li>
            {%- endif -%}

            <li>
              <a href="https://bookmarks.boris.schapira.dev/">Bookmarks</a></li>

            {% if page.translation %}
            <li>{% include read_in.html.liquid
                    locale=page.translation.locale
                    url=page.translation.url %}</li>
            {% endif %}

            <li class="color-mode-labels"><!-- nomicrotypo -->{% include dark-mode.svg %}<!-- endnomicrotypo -->

            <button class="button-reset auto-mode"><label for="color-mode-dark" data-value="true" tabindex="0"><span class="sr-only">Auto Mode</span><svg class="icon" width="23" height="23"><use xlink:href="#icon-mode-auto" /></svg></label></button>

            <button class="button-reset dark-mode"><label for="color-mode-light" data-value="false" tabindex="0"><span class="sr-only">Dark Mode</span><svg class="icon" width="23" height="23"><use xlink:href="#icon-mode-dark" /></svg></label></button>

            <button class="button-reset light-mode"><label for="color-mode-auto" data-value="auto" tabindex="0"><span class="sr-only">Light Mode</span><svg class="icon" width="23" height="23"><use xlink:href="#icon-mode-light" /></svg></label></button>

            </li>
          </ul>
        </nav>
      </header>
      <div class="page-title"><h1>{{ page.title | default: pageTitle }}{%if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h1>{% if page.layout=='post'%}<div class="meta"><time class="dt-published" datetime="{{ datetime }}">{% unless page.locale =='fr' %}{% include date_en.html.liquid postDate=page.date locale=page.locale %}{% else %}{{ page.date | l: '%-d %B %Y', page.locale }}{% endunless %}</time>{% if page.serie %}<span><a href="/tag/{{ page.serie | slugify }}">{{ page.serie }}</a></span>{% endif %}{% if page.translation %}<span>{% include read_in.html.liquid
        format="verbose"
        locale=page.translation.locale
        url=page.translation.url %}</span>{% endif %}<span class="webshare" data-title="Web Sharing" data-text="&quot;{{ page.title | replace: '"', "&quot;" }}&quot;, Boris Schapira"><button aria-label="{{ "partager" | t: page.locale }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483 483">
            <title>{{ "partager" | t: page.locale }}</title>
            <path d="M396 0c-48 0-88 39-88 87l1 6-161 76A87 87 0 000 232a87 87 0 00129 77l70 58a87 87 0 0083 116 87 87 0 10-42-164l-70-59c3-9 5-18 5-28l-1-6 161-76a87 87 0 00148-63c0-48-39-87-87-87z"/>
          </svg></button></span></div>{% endif %}</div>
      <section class="container{% if page.layout=='post' or page.layout=='page' or page.layout=='community' %} full-width-content{% endif %}">
        {{ content }}
        {% if page.layout=='post' and page.prev_context %}
          <div class="nav-arrow prev"><a href="{{page.prev_context.url}}" title="{{ page.prev_context.title }}"><span class="sr-only">{{ "Précédent :" | t: page.locale }}</span><span aria-hidden="true">&#8672;</span></a></div>
        {% endif %}
        {% if page.layout=='post' and page.next_context %}
          <div class="nav-arrow next"><a href="{{page.next_context.url}}" title="{{ page.next_context.title }}"><span class="sr-only">{{ "Suivant :" | t: page.locale }}</span><span aria-hidden="true">&#8674;</span></a>
        {% endif %}
        <aside>
          <div class="widget categories">
            <h2>{{ "Catégories" | t: page.locale }}</h2>
            <ul>
              <li><a class="main {% unless page.category %}active{% endunless %}" href="{{ page.baseurl | default: "/" | relative_url }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">{{ "Récents" | t: page.locale }}</a></li>
              <li><a class="web {% if page.category == 'web' %}active{% endif %}" href="{{ 'web' | prepend: page.baseurl | relative_url }}/" itemscope itemtype="http://schema.org/Thing" itemprop="item">{{ "web" | t: page.locale }}</a></li>
              <li><a class="citoyen {% if page.category == 'citoyen' %}active{% endif %}" href="{{ 'citoyen' | t: page.locale | prepend: page.baseurl | relative_url }}/" itemscope itemtype="http://schema.org/Thing" itemprop="item">{{ "citoyen" | t: page.locale }}</a></li>
              <li><a class="papa {% if page.category == 'papa' %}active{% endif %}" href="{{ 'papa' | t: page.locale | prepend: page.baseurl | relative_url }}/">{{ "papa" | t: page.locale }}</a></li>
            </ul>
          </div>
          <div class="widget svg-me" aria-hidden="true">
            <!-- nomicrotypo -->{% include avatar.svg %}<!-- endnomicrotypo -->
          </div>
        </aside>
      </section>
      <footer class="main-footer">
        <div class="nav-footer">
          <p>
            {{ "Retrouvez-moi" | t: page.locale }} {{ "sur" | t: page.locale }}
            {%- for social in site.author.social -%}
              {% unless forloop.first %}{% if forloop.last %} et{% else %},{% endif %} {% endunless %}<a class="npe" rel="me nofollow" href="{{ social.url }}">{{social.title}}</a>
            {%- endfor -%}.
            <br />
            {{ "Site statique" | t: page.locale }} <a href="{{ "a-propos" | t:page.locale | prepend: page.baseurl | relative_url }}/site/">{{ "compilé par Jekyll, propulsé par Netlify et Cloudinary" | t: page.locale }}</a>.
            <br />
            <a class="npe" rel="me nofollow" href="{{ feed_url | prepend: page.baseurl | relative_url }}">{{ "Abonnez-vous au flux" | t: page.locale }}</a>
          </p>
        </div>
      </footer>
    </div>
    {%- comment -%} -----------------------------
    --------------  Footer ----------------------
    ----------------------------{%- endcomment -%}
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": "{{ pageTitle }}",
          "description": "{{ page.social.description | strip_html }}",
          "url": "{{ page.baseurl | absolute_url }}"
      }
    </script>
    {% unless jekyll.environment == "development" %}
    <!-- Matomo Tag -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.schapira.dev/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Tag -->
    <!-- Contentsquare Tag -->
    <script type="text/javascript">
      var params = new URLSearchParams(new URL(location).search);
      if (params.has('csq') && params.get('csq') == 'true') {


        const statusCode = {{ page.statusCode | default: "200" }};

        window._uxa = window._uxa || [];
        window._uxa.push(['setCustomVariable', 1, "statusCode", statusCode]);

        (function (c, s, q, u, a, r, e) {
            c.hj=c.hj||function(){(c.hj.q=c.hj.q||[]).push(arguments)};
            c._hjSettings = { hjid: a };
            r = s.getElementsByTagName('head')[0];
            e = s.createElement('script');
            e.async = true;
            e.src = q + c._hjSettings.hjid + u;
            r.appendChild(e);
        })(window, document, 'https://static.hj.contentsquare.net/c/csq-', '.js', 5229419);

        [...document.querySelectorAll('a')].forEach(element => {
          anchorHRef = new URL(element.href);
          var params = new URLSearchParams(anchorHRef.search);
          if (!params.has('csq')) {
            params.append('csq','true');
            anchorHRef.search = params.toString();
            element.href = anchorHRef.toString();
          }
        });
      }
    </script>
    <!-- End Contentsquare Tag -->
    {% endunless %}
  </body></html>
