---
layout: default
---
{% capture nocat %}x{{ page.category }}{% endcapture %}
<section class="posts" aria-label="{% t Tous les articles %}" >
    {% unless page.hideCustomHead or page.title == '' and page.description == '' %}
        <header class="posts-h{% if nocat == 'x' %} hide {% endif %}">
            <p>
                {{ page.description }}
            </p>
        </header>
    {% endunless %}

    {% assign the_posts=site.categories[page.category] | where:"locale", page.locale |  where:"hidden", false %}

    {% if paginator %}
        {% for post in paginator.posts %}
            {% include post.html.liquid postPage=false %}
        {% endfor %}

        {% include pagination.html.liquid %}

        {% comment %}
            <!-- Pagination links -->
            <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            {% else %}
                <span class="previous">Previous</span>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% else %}
                <span class="next ">Next</span>
            {% endif %}
            </div>
        {% endcomment %}
        
    {% else %}
        {% for post in the_posts %}
            {% include post.html.liquid postPage=false %}
        {% endfor %}
    {% endif %}
</section>
