---
layout: default
---
{% capture nocat %}x{{ page.category }}{% endcapture %}
<section class="posts">
    {% unless page.hideCustomHead or page.title == '' and page.description == '' %}
        <header class="posts-h{% if nocat == 'x'' %} hide {% endif %}">
            <h2 class="page-title">{{ page.title }}</h2>
            <p>
                {{ page.description }}
            </p>
        </header>
    {% endunless %}

    {% if page.lang == 'en' %}
        {% assign the_posts=site.posts | where:"lang", page.lang %}
    {% else %}
        {% assign the_posts= site.categories.[page.category] | where:"lang", page.lang %}
    {% endif %}
    {% for post in the_posts %}
        {% include post.html.liquid postPage=false %}
    {% endfor %}
</section>
