---
layout: default
---
{% capture nocat %}x{{ page.category }}{% endcapture %}
<section class="posts">
    {% unless page.hideCustomHead or page.title == '' and page.description == '' %}
        <header class="posts-h{% if nocat == 'x' %} hide {% endif %}">
            <p>
                {{ page.description }}
            </p>
        </header>
    {% endunless %}

    {% assign the_posts=site.categories[page.category] | where:"lang", page.lang |  where:"hidden", false %}

    {% for post in the_posts %}
        {% include post.html.liquid postPage=false %}
    {% endfor %}
</section>
