---
layout: default
---

{% include post.html.liquid postPage=true showtags=false %}

{% comment %}
    <div class="page-navigation">
        {% if page.category %}
            {% assign previous = page.previous_in_category %}
            {% assign next = page.next_in_category %}
        {% else %}
            {% assign previous = page.previous %}
            {% assign next = page.next %}
        {% endif %}

        {% if previous.url %}
            <a class="prev" rel="nofollow" href="{{previous.url}}" title="{{previous.title}}">&laquo; {{previous.title}}</a>
        {% endif %}
        {% if next.url %}
            <a class="next" rel="nofollow" href="{{next.url}}" title="{{next.title}}">{{next.title}} &raquo;</a>
        {% endif %}
    </div>
{% endcomment %}

{% if content.size > 2000 %}
<div class="js elevator">
    <a href="#top" title="Vers l'infini et... euh, non, ramenez-moi juste en haut, merci.">&#11014;</a>
</div>
{% endif %}

{% include post_webmentions.html.liquid url=url %}

{% include post_related.html.liquid posts=site.related_posts %}
