---
layout: default
---

{% include post.html postPage=true showtags=false showcategory=true %}
{% include elevator.html %}

{% assign source = page.path | split: '/' %}
<p class="contrib">
  Si vous voulez signaler une erreur ou proposer une modification de ce texte, proposez une <a href="https://github.com/borisschapira/blog/blob/master/{% if (page.category | downcap) == 'papa' %}papa/{% endif %}{{ page.date | date: "%Y/%m" }}/{{ source.last }}">modification des sources</a>, ouvrez un <a href="https://github.com/borisschapira/blog/issues/new?title=Article%20%22{{page.url}}%22">ticket</a> ou envoyez-moi un <a href="https://twitter.com/share?text=%40borisschapira+Concernant">tweet</a>.
</p>

{% include post-navigation.html %}

{% comment %}
{% include post-related.html %}
{% endcomment %}
