---
layout: microtypo
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title and page.cursus %}
        {{ page.title }} | {{ page.cursus.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="author" content="{{ site.author.name }}" / />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="{{ "/assets/revealjs/css/reveal.css" | prepend: site.baseurl }}"/>
    {%if page.theme or page.cursus.theme or page.deck.theme %}
      {% assign the_theme = page.deck.theme || page.cursus.theme %}
      {% if the_theme == "clever" %}
        {% css 'reveal_boris' data-instant-track %}
      {% else %}
         <link rel="stylesheet" href="{{ "/assets/revealjs/css/theme/" | prepend: site.baseurl | append: the_theme | append: '.css' }}" id="theme"/>
      {% endif %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/revealjs/css/theme/black.css" | prepend: site.baseurl }}" id="theme"/>
    {% endif %}
    {% css 'reveal_custom' data-instant-track %}

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">
      {% assign slide=page %}
  		{% include slide.html %}

      {% for item in slide.deck.slides  %}
        {% if item.deck.key == slide.deck.key and item.cursus.key == slide.cursus.key %}
          {% if item.title == page.title %}
            {% unless forloop.first %}
              {% assign prevurl = prev.url %}
            {% endunless %}
            {% unless forloop.last %}
              {% assign next = slide.deck.slides[forloop.index] %}
              {% assign nexturl = next.url %}
            {% endunless %}
          {% endif %}
          {% assign prev = item %}
        {% endif %}
      {% endfor %}
      {%if prevurl%}<a href="{{prevurl | prepend: site.baseurl}}">{% t Précédent %}</a>{% endif %}
      <a href="{{ page.deck.url | prepend: site.baseurl }}">{% t Retour %}</a>
      {%if nexturl%}<a href="{{nexturl | prepend: site.baseurl}}">{% t Suivant %}</a>{% endif %}
      {% javascript analytics %}
    </div>
  </body>
</html>
