$color-complement: complement($color-main);
$color-complement-faded: lighten($color-complement, 20);
$color-gray: rgb(154,154,154);
$color-bg : lighten($color-main, 99 - lightness($color-main));

/* Lisibility */
.hide {
    display:none;
}
body {
  background-color: $color-bg;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  margin-bottom: 0;
}

/* Fuschia */
.theme-base-0g {
  .sidebar {
    color: rgba(255,255,255,0.5);
    background-color: $color-main;
    background-image: url($texture);
    background-size: $texture-size;
  }

  .content a,
  .related-posts li a:hover {
    color: $color-main;
  }
  abbr,
  acronym {
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
  }
  abbr[title],
  acronym[title] {
    cursor: help;
    border-bottom: 0.1em dotted lighten($color-main, 40);
  }
  hr {
    color: $color-main;
    background-color: $color-main;
    border: 0;
    height: 1px;
  }
  /* Meta data line below post title */
  .post header span,
  .post header time {
    display: inline-block;
    margin-bottom: 0;
    color: $color-gray;
    a {
      color: $color-gray;
    }
  }
  .post footer {
    font-size: 0.8em;
    .contrib {
      /* border: 1px solid darken($color-main,20);*/
      a {
        color: darken($color-main,20);
      }
    }
    .discuss,
    .share {
      /*border: 1px solid $color-complement;*/
      a {
        color: darken($color-complement, 10);
      }
      input[type="submit"] {
        padding: 5px 15px;
        background: $color-complement;
        border: 0 none;
        cursor: pointer;
      }
    }
    .contrib,
    .discuss,
    .share {
      margin: 20px 0;
      color: #333;
      p,
      form {
        margin: 0;
        padding: 10px;
      }
      form {
        display: flex;
        input[type="submit"] {
          flex: 1;
        }
        input[type="text"] {
          flex: 3;
        }
      }
    }
    .nowrap {
      display: inline-flex;
    }
  }
}
header.posts-h {
  text-align: center;
  margin-bottom: 2rem;
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    .theme-base-0g {
      .sidebar {
        background-image: url($texture-2X);
      }
    }
}

.p-tags,
.p-category,
.p-readtime {
  &::before {
    content: "\00a0·\00a0";
  }
}
html .content .post .p-header .p-author {
  display: none;
}
.related {
  border-top: none;
}
.post-title,
.page-title {
  font-size: 2rem;
}
.footnotes,
.post-footer {
  margin-top: 5em;
}
.elevator {
  text-align: center;
  margin-bottom: 4em;
  a {
    cursor: pointer;
  }
}
.post-content {
  h2:first-child {
    font-style: italic;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-top: -0.3em;
    margin-bottom: 1em;
    letter-spacing: 0;
  }
  blockquote {
    font-size: 1.1rem;
    border: none;
    border-left: 0.25rem solid $color-main;
    li {
      list-style-type: none;
    }
    li::before {
      content: "—";
    }
    cite {
      font-size: 1rem;
      margin-top: 1em;
      display: block;
    }

    &.emphasis {
      text-align: right;
      border: none;
      border-right: 0.25rem solid $color-main;
    }
  }
  @media (min-width: 30em) {
    blockquote.emphasis {
      padding-left: 5rem;
      padding-right: 1.25rem;
    }
  }
  li {
    margin: 1rem 0;
  }
  figure {
    text-align: center;
    /** http://www.24joursdeweb.fr/2015/pseudo-elements-pseudos-mais-puissants/ **/
    a {
      position: relative;
      display: inline-block;
    }
    a::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      box-shadow: 0 0 100px 0 #000 inset;
      transition: opacity 0.3s ease-in-out;
      background: rgba(0,0,0,.5) center no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgNzY4IDc2OCIgZmlsbD0iI2ZmZmZmZiI+CjxwYXRoIGQ9Ik0zMjAgMzJxNTguNSAwIDExMS44NzUgMjIuODc1dDkxLjg3NSA2MS4zNzUgNjEuMzc1IDkxLjg3NSAyMi44NzUgMTExLjg3NXEwIDUwLjI1LTE2LjM3NSA5Ni4yNXQtNDYuNjI1IDgzLjVsMTgxLjc1IDE4MS41cTkuMjUgOS4yNSA5LjI1IDIyLjc1IDAgMTMuNzUtOS4xMjUgMjIuODc1dC0yMi44NzUgOS4xMjVxLTEzLjUgMC0yMi43NS05LjI1bC0xODEuNS0xODEuNzVxLTM3LjUgMzAuMjUtODMuNSA0Ni42MjV0LTk2LjI1IDE2LjM3NXEtNTguNSAwLTExMS44NzUtMjIuODc1dC05MS44NzUtNjEuMzc1LTYxLjM3NS05MS44NzUtMjIuODc1LTExMS44NzUgMjIuODc1LTExMS44NzUgNjEuMzc1LTkxLjg3NSA5MS44NzUtNjEuMzc1IDExMS44NzUtMjIuODc1ek0zMjAgOTZxLTQ1LjUgMC04NyAxNy43NXQtNzEuNSA0Ny43NS00Ny43NSA3MS41LTE3Ljc1IDg3IDE3Ljc1IDg3IDQ3Ljc1IDcxLjUgNzEuNSA0Ny43NSA4NyAxNy43NSA4Ny0xNy43NSA3MS41LTQ3Ljc1IDQ3Ljc1LTcxLjUgMTcuNzUtODctMTcuNzUtODctNDcuNzUtNzEuNS03MS41LTQ3Ljc1LTg3LTE3Ljc1ek0zMjAgMTkycTEzLjI1IDAgMjIuNjI1IDkuMzc1dDkuMzc1IDIyLjYyNXY2NGg2NHExMy4yNSAwIDIyLjYyNSA5LjM3NXQ5LjM3NSAyMi42MjUtOS4zNzUgMjIuNjI1LTIyLjYyNSA5LjM3NWgtNjR2NjRxMCAxMy4yNS05LjM3NSAyMi42MjV0LTIyLjYyNSA5LjM3NS0yMi42MjUtOS4zNzUtOS4zNzUtMjIuNjI1di02NGgtNjRxLTEzLjI1IDAtMjIuNjI1LTkuMzc1dC05LjM3NS0yMi42MjUgOS4zNzUtMjIuNjI1IDIyLjYyNS05LjM3NWg2NHYtNjRxMC0xMy4yNSA5LjM3NS0yMi42MjV0MjIuNjI1LTkuMzc1eiIvPgo8L3N2Zz4=);
    }
    a:hover::before,
    a:focus::before {
      opacity: 1;
    }
    /** **/
    picture,
    img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      max-width: 100%;
      min-width: 70%;
    }
    figcaption {
      margin-left: auto;
      margin-right: auto;
      font-style: italic;
      max-width: 80%;
      text-align: center;
    }
  }
  strong {
    color: $color-main;
  }
  a {
    text-decoration: underline;
    &.reversefootnote {
      text-decoration: none;
    }
  }
  .canonical {
    display: block;
    margin: 2em auto;
    border: 1px dotted $color-main;
    padding: 10px;
  }
}
footer .wrap {
  text-align: right;
  margin-right: 3em;
}
/* Pagination HTML & CSS code from nhoizey */
.pagination {
  font-size: 1.2em;
  margin: 3em auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  li {
    flex-grow: 1;
    text-align: center;
    &.dist1,
    &.dist2,
    &.dist3,
    &.extreme {
      display: none;
    }
    @media (min-width: 20em) {
      &.extreme {
        display: block;
      }
      &.ellipsis1 {
        display: none;
      }
    }
    @media (min-width: 25em) {
      &.dist1 {
        display: block;
      }
      &.ellipsis2 {
        display: none;
      }
    }
    @media (min-width: 30em) {
      &.dist2 {
        display: block;
      }
      &.ellipsis3 {
        display: none;
      }
    }
    a,
    strong,
    &.disabled {
      padding: 0.1em 0.3em;
      border: 2px solid #fff;
      text-decoration: none;
    }
    a:hover {
      border-color: $color-main;
    }
    strong {
      font-weight: 400;
      background-color: $color-main;
      border-color: $color-main;
      color: #fff;
    }
  }
}
#tag-cloud {
  @for $i from 1 through 50 {
    .set-#{$i} {
      font-size: (0.7 + 0.1 * $i) * 1rem;
    }
  }
}
.algolia__result-link .algolia__result-highlight {
  background-color: $color-complement-faded;
  background-color: rgba(47,244,146,0.2);
}
.algolia__result-text .algolia__result-highlight {
  text-shadow: 0 0 6px rgba(47,244,146,0.2);
  font-weight: bold;
}
 ::selection {
  background-color: $color-complement-faded;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 2em 0;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.page-navigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}
.page-navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.page-navigation .next {
  text-align: right;
}
.sidebar {
  padding: 0.5rem 1rem;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 0;
    li {
      display: inline;
      a {
        font-size: 1rem;
      }
    }
  }
}

.icon {
    max-width: 40px;
    &.icon-clock {
        margin: -0.15em 0;
        width: 0.7em;
        color: lighten($color-gray,10);
    }
}

/* About section */
.sidebar-about {
  display: none;
}
.follow-icons {
  display: block;
  li a:hover {
    text-decoration: none;
    color: $color-complement;
  }
}
.algolia__input {
  width: 100%;
  margin-bottom: 0;
}
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.categories .sidebar-nav-item {
  &::after {
    content: '·';
    font-size: 1rem;
    padding: 0 0.2rem;
  }
  &:last-of-type::after {
    content: '';
  }
}
.secondary .sidebar-nav-item {
  display: inline-block;
  &::after {
    content: '';
    font-size: 1rem;
    padding: 0 0.2rem;
  }
  &:last-of-type::after {
    content: '';
  }
}
@media (min-width: 28em) {
  .sidebar {
    padding: 2rem 1rem;
  }
  .algolia__input {
    width: auto;
    margin-bottom: 1rem;
  }
  .sidebar-nav,
  .follow-icons,
  header.posts-h {
    display: block;
  }
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 33em) {
  /* About section */
  .sidebar-about {
    display: block;
  }
  .sidebar-about h1 {
    font-size: 2rem;
  }
  .sidebar-about .lead {
    font-size: 1rem;
  }
}
@media (min-width: 48em) {
  /* About section */
  .sidebar-nav .sidebar-nav-item {
    display: block;
    border-right: none;
    &::after {
      content: '';
    }
  }
  .sidebar-about h1 {
    font-size: 3.25rem;
  }
  .sidebar-about .lead {
    font-size: 1.5rem;
  }
  .sidebar .categories {
    margin-bottom: 1rem;
  }
}
sup {
  line-height: 0;
  &::before {
    content: "\0202F";
  }
}
#instantclick-bar {
  background: $color-main;
}

/** a11y **/
.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;

  &:focus,
  &:active {
    color: #fff;
    background-color:$color-main;
    left: auto;
    top: auto;
    width: 50%;
    height: auto;
    overflow:auto;
    margin: 10px 25%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
  }
}

.lang {
  /*display: none;*/
}
